<%= simple_form_for([@campaign, @lyric]) do |f| %>

      <%= f.error_notification %>

  <% if can? :manage, :all %>
  <%= f.input :chosen %>
  <% end %>

  <% unless @campaign.title.nil? || @campaign.title.empty? %>
        <h1 class="exp-title-lyric"> <%= link_to @campaign.title, campaign_path(@campaign) %></h1>
        <% end %>
  <% unless @campaign.image.nil? %>
      <div class="campaign-new-img">
          <%= link_to campaign_path(@campaign) do %>
          <%= image_tag @campaign.image.url(:large) %>
          <% end %>
      </div>
  <% end %>

  <% if @campaign.description.present? %>
    <p> <%= simple_format(truncate(@campaign.description, length: 250, separator: ' ')) %></p>
    <% end %>

  <% if @lyric.chosen == true %>
  <div class="approved-box">Your lyric has been chosen!</div>

  <% if can? :manage, :all %>

  <%= f.input :line, required: true, autofocus: true, label: "Enter Lyric Here", input_html: { maxlength: 400 } %>
  <%= f.input :description, label: "Tell why this lyric is dope or why it inspires or how you relate to it", input_html: { maxlength: 400 } %>


  <% if @campaign.artist.nil? || @campaign.artist.empty? %>
  <%= f.input :artist, label: "Artist" %>
  <% else %>
  <p><strong>Artist:</strong> <%= @campaign.artist %></p>
  <% end %>

  <% if @campaign.album.nil? || @campaign.album.empty? %>
  <%= f.input :album, label: "Album" %>
    <% else %>
  <p><strong>Album:</strong> <%= @campaign.album %></p>
  <% end %>
  <% if @campaign.song.nil? || @campaign.song.empty? %>
  <%= f.input :song, label: "Song" %>
    <% else %>
 <p> <strong>Song:</strong> <%= @campaign.song %></p>
  <% end %>
  
  <% if @campaign.link.nil? || @campaign.link.empty? %>
  <%= f.input :link, label: "Link", hint: "Link to Track" %>
    <% else %>
  <p><strong>Link:</strong> <%= @campaign.link %></p>
  <% end %>
  <%= f.input :tag_list, label: "Tags", hint: "Place only relevant tags; Max character of 36", input_html: { maxlength: 36 } %>

  <% if @campaign.personal == true %>
  <%= f.input :personal, label: "Check if submitting your own original lyric and you agree to Legal Terms" %>
  
  <div class="form-info">
  <%= link_to "Legal Terms", pages_legal_terms_path %>
  </div>
  <% end %>



  <%= f.button :submit, "Submit", class: "post-button" %>


  <% end %>

  <% else %>

  <%= f.input :line, required: true, autofocus: true, label: "Enter Lyric Here", input_html: { maxlength: 400 } %>
  <%= f.input :description, label: "Tell why this lyric is dope or why it inspires or how you relate to it", input_html: { maxlength: 400 } %>


  <% if @campaign.artist.nil? || @campaign.artist.empty? %>
  <%= f.input :artist, label: "Artist" %>
  <% else %>
  <p><strong>Artist:</strong> <%= @campaign.artist %></p>
  <% end %>

  <% if @campaign.album.nil? || @campaign.album.empty? %>
  <%= f.input :album, label: "Album" %>
    <% else %>
  <p><strong>Album:</strong> <%= @campaign.album %></p>
  <% end %>
  <% if @campaign.song.nil? || @campaign.song.empty? %>
  <%= f.input :song, label: "Song" %>
    <% else %>
 <p> <strong>Song:</strong> <%= @campaign.song %></p>
  <% end %>
  
  <% if @campaign.link.nil? || @campaign.link.empty? %>
  <%= f.input :link, label: "Link", hint: "Link to Track" %>
    <% else %>
  <p><strong>Link:</strong> <%= @campaign.link %></p>
  <% end %>
  <%= f.input :tag_list, label: "Tags", hint: "Place only relevant tags; Max character of 36", input_html: { maxlength: 36 } %>

  <% if @campaign.personal == true %>
  <%= f.input :personal, label: "Check if submitting your own original lyric and you agree to Legal Terms" %>
  
  <div class="form-info">
  <%= link_to "Legal Terms", pages_legal_terms_path %>
  </div>
  <% end %>



  <%= f.button :submit, "Submit", class: "post-button" %>

  <% end %>



<% end %>