<section class="main-section">

<section class="lyric-section">

  <div class="sort-box">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'lyrics', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'lyrics', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'lyrics', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

         <% @tags.each do |tag| %>
              <% if tag.taggings_count > 4 %>
              <li role="presentation"><%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %></li>
              <% end %>
          
            <% end %>
      </ul>
    </div>
  </div>



  <div id="lyrics" class="transitions-enabled">
    <% @lyrics.each do |lyric| %>
    <div class="container-md">

        <% if lyric.line.present? %>
        <%= link_to lyric.line, campaign_lyric_path(@campaign, lyric) %>

        <% end %>
        <ul>
        <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>


          <li><span class="up <%= lyric.id %>"><%= lyric.get_upvotes.size %> </span>
          <%= link_to like_lyric_path(lyric), class: ['voteup', lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
            <span class="down <%= lyric.id %>"><%= lyric.get_downvotes.size %></span>
          <%= link_to dislike_lyric_path(lyric), class: ['votedown', lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </li>


  <script>

    $('.voteup' + '.<%= lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up' + '.<%= lyric.id %>').html(data.count);
    $('.down' + '.<%= lyric.id %>').html(data.count2);
  });

    </script>

      <script>

    $('.votedown' + '.<%= lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down' + '.<%= lyric.id %>').html(data.count2);
    $('.up' + '.<%= lyric.id %>').html(data.count);
  });

    </script>

      
        <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><% if lyric.user.avatar.present? %><%= image_tag lyric.user.avatar.url(:mini) %><% end %><% if lyric.user.username.present? %><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %><% end%></li>


        </ul>
        <br />
        <ul class="tag-list">
        <li><% lyric.tags.any? %>
          <% lyric.tags.each do |tag| %>
          <%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>

    <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i> Back to Top</a></div> 

  </div>

  

 <br>
    <div class="paginate-box">
      <%= will_paginate @lyrics, renderer: BootstrapPagination::Rails %>
    </div>

   
</section>

<section class="home-info">


  <div class="results"></div>
    

</section>



</section>





<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });
});

</script>

<script>
// fade in #back-top
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.back-top').fadeIn();
        } else {
            $('.back-top').fadeOut();
        }
    });

    // scroll body to 0px on click
    $('.back-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.lyric-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

  


