<% if user_signed_in? %>
<div class="jumbotron">
  <h1>What up? <%= current_user.username %></h1> </br><h2>What you listening to today?</h2></br>
  <p>Share lyrics that you are inspired by and see what lyrics inspire others.</p>
  <p><%= link_to "Sign Up To Add Lyrics", new_lyric_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% else %>
  <div class="jumbotron">
      <h1>Add Your Favorite Lyrics</h1>
      <p>jk k kdfjdk fjdl j ldfjdl fjdlkfd flkdfjd flkdfjd fdlfjdfldjfdlfdj ldfjd fldjfd lfdjfdlkfjd flkdjfdlf kdjdljd lfdjfd lfjdldjfdlf dljd fldjd lfjdfldjf ldjfdlf jdlfdjf ldjfdlfjdlfjd lfdjf ldfjd lfjdf l.</p>
      <p><%= link_to "Sign Up To Add Lyrics", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>
<% end %>


    <h1>Lyrics Center</h1>

    <% @lyrics.each do |lyric| %>
    <div class="container-md">
        <%= link_to simple_format(lyric.line), lyric %>
        <ul>
        <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        <li><%= lyric.get_upvotes.size %> 
          <%= link_to like_lyric_path(lyric), method: :get do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
          </li>
        <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><%= image_tag lyric.user.avatar.url(:mini) %><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %></li>
        </ul>
        <br />
        <ul class="tag-list">
        <li><% lyric.tags.any? %>
          <% lyric.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>

    <br>
    <div class="center">
      <%= will_paginate @lyrics, renderer: BootstrapPagination::Rails %>
    </div>

        
    <br>
    <div class="lyric-footer">
      <%= link_to 'New Lyric', new_lyric_path %>
    </div>

</div>

