<section class="main-section">
<section class="home-info">


  <div class="results"></div>

  <div class="header-lyric">

    <%= image_tag current_user.avatar.url(:thumb) %><% if current_user.username.present? %><%= link_to "Your Profile", profile_url(:id => current_user.username) %><% end %>
  </br>

    Community Score: <%= current_user.points %>

  </div>





  <div class="header-lyric">
  <% if user_signed_in? %>
    <h1>The Rhyme Center</h1>
    <h2><%= current_user.name %></h2>
    <p>Vote on your favorite lyrics or contribute the lyrics from your favorite artists.  <br /><%= link_to "Submit Lyrics", '/campaigns/2/lyrics/new' %></p>
  <% else %>
  <h1>The Rhyme Center</h1>
    <h2><%= link_to "Join To Contribute", new_user_registration_path %></h2>
    <p>Vote on your favorite lyrics or contribute the lyrics from your favorite artists. <br /><%= link_to "Submit Lyrics", '/campaigns/2' %></p>
    <% end %>
  </div>

    

</section>

<section class="lyric-section">

  <div class="sort-box">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'lyrics', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'lyrics', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'lyrics', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

         <% @tags.each do |tag| %>
              <% if tag.taggings_count > 4 %>
              <li role="presentation"><%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %></li>
              <% end %>
          
            <% end %>
      </ul>
    </div>
  </div>



  <div id="lyrics" class="transitions-enabled">
    <% @lyrics.each do |lyric| %>
    <div class="container-md">

        
        <%= link_to lyric.line, campaign_lyric_path(@campaign, lyric) %>
        <ul>
        <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        <li><%= lyric.get_upvotes.size %> 
          <%= link_to like_lyric_path(lyric), method: :get do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
          </li>
        <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><a class="popoverExampleTwo" data-placement="auto left" data-trigger="click" return false;><%= image_tag lyric.user.avatar.url(:mini) %></a><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %></li>

                    <!-- Popover 2 hidden content -->
                          <div class="popoverExampleTwoHiddenContent" style="display: none">
                             <div>
                              <%= image_tag lyric.user.avatar.url(:thumb) %>
                                  <%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %>
                                  
                                  </br>
                                  <div class="following-show">
                                    <p><%= lyric.user.follow_count %> Following  | 
                                    <%= lyric.user.followers_count %> Followers</p>
                                    <% if user_signed_in? %>
                                      <% if current_user == lyric.user %>
                                        <p></p>
                                      <% elsif  lyric.user.all_following.include?(current_user) %>
                                        <%= link_to "Unfollow", unfollow_profile_path(lyric.user.username) %>
                                      <% else %>
                                        <%= link_to "Follow", follow_profile_path(lyric.user.username) %>
                                      <% end %>
                                    <% else %>
                                      <p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
                                    <% end %>
                                  </div>
                                  <hr>
                                  <div class="points-show">
                                    Points | <%= lyric.user.points %>
                                  </div>


                             </div>
                          </div>  
                          <!-- Popover 2 hidden title -->
                          <div class="popoverExampleTwoHiddenTitle" style="display: none">
                             
                          </div> 

        </ul>
        <br />
        <ul class="tag-list">
        <li><% lyric.tags.any? %>
          <% lyric.tags.each do |tag| %>
          <%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>

    <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i> Back to Top</a></div> 

  </div>

  

 <br>
    <div class="paginate-box">
      <%= will_paginate @lyrics, renderer: BootstrapPagination::Rails %>
    </div>

   

        
    <br>
    <div class="lyric-footer">
      <%= link_to 'New Lyric', new_campaign_lyric_path %>
    </div>
</section>
</section>





<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });
});

</script>

<script>
// fade in #back-top
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.back-top').fadeIn();
        } else {
            $('.back-top').fadeOut();
        }
    });

    // scroll body to 0px on click
    $('.back-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>


