

<section class="main-section">

<% if user_signed_in? && current_user.points > 69 %>


<section class="lyric-section">

<div class="works-top" id="works-exp2">
  <div class="how-campaign">
  <h2>Rhyme Center</h2>
  <p>The community chooses their favorite lyrics to inspire designs. The community then chooses their favorite designs to develop tees and products for the shop.</p>

  </div>

  <%= image_tag 'rhyme-image.png', :class => "how-image2" %>

  <div class="how-box2">
    <%= link_to 'How It Works', pages_how_it_works_path, :class => "" %>

  <%= link_to 'Lab Shop', '#', :class => "" %>

  <%= link_to 'Add Lyric', new_campaign_lyric_path(Campaign.last), :class => "" %>


    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'lyrics', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'lyrics', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'lyrics', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

         <% @tags.each do |tag| %>
              <% if tag.taggings_count > 4 %>
              <li role="presentation"><%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %></li>
              <% end %>
          
            <% end %>
      </ul>
    </div>

  

  </div>

      <div class="how-box2-mobile">

    <%= link_to pages_how_it_works_path do %>
      <i class="fa fa-info"></i>
    <% end %>

    <%= link_to '#' do %>
       <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    <% end %>

    <%= link_to new_campaign_lyric_path(Campaign.last) do %>
      <i class="fa fa-headphones"></i>
    <% end %>

    <div class="clear"></div>

        <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon glyphicon-sort" aria-hidden="true"></span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'lyrics', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'lyrics', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'lyrics', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

         <% @tags.each do |tag| %>
              <% if tag.taggings_count > 4 %>
              <li role="presentation"><%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %></li>
              <% end %>
          
            <% end %>
      </ul>
    </div>



  </div>



  </div>

  <div id="lyrics" class="transitions-enabled">
    <% @lyrics.each do |lyric| %>
    <div class="container-md">

        <% if lyric.line.present? %>
        <%= link_to lyric.line, campaign_lyric_path(@campaign, lyric) %>

        <% end %>
        <ul>

          <% if user_signed_in? %>
          <li><span class="updown-button"><span class="up <%= lyric.id %>"><%= lyric.get_upvotes.size %> </span>
          <%= link_to like_lyric_path(lyric), class: ['voteup', lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
          </span>
        </li>
        <li>
            <span class="updown-button"><span class="down <%= lyric.id %>"><%= lyric.get_downvotes.size %></span>
          <%= link_to dislike_lyric_path(lyric), class: ['votedown', lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </span>

          </li>

          <% else %>

          <li><span class="updown-button"><span class="up <%= lyric.id %>"><%= lyric.get_upvotes.size %> </span>
          <%= link_to_if user_signed_in?, like_lyric_path(lyric), class: ['voteup', lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
          </span>
        </li>
        <li>
            <span class="updown-button"><span class="down <%= lyric.id %>"><%= lyric.get_downvotes.size %></span>
          <%= link_to_if user_signed_in?, dislike_lyric_path(lyric), class: ['votedown', lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </span>
        
          <span type="button" data-toggle="tooltip" data-placement="top" title="Sign In To Vote" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </li>


          <% end %>

          <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>


  <script>

    $('.voteup' + '.<%= lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up' + '.<%= lyric.id %>').html(data.count);
    $('.down' + '.<%= lyric.id %>').html(data.count2);
  });

    </script>

      <script>

    $('.votedown' + '.<%= lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down' + '.<%= lyric.id %>').html(data.count2);
    $('.up' + '.<%= lyric.id %>').html(data.count);
  });

    </script>

      
        <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><% if lyric.user.avatar.present? %><%= image_tag lyric.user.avatar.url(:mini) %><% end %><% if lyric.user.username.present? %><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %><% end%></li>
       
        <% if lyric.personal == true %>
        <li><span data-toggle="tooltip" data-placement="top" title="Submitted By Artist"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></li>
       <% end %>

        </ul>
        <br />
        <% if lyric.tags.any? %>
        <ul class="tag-list">
        <li>
          <span class="glyphicon glyphicon glyphicon-tags" aria-hidden="true"></span>
          <% lyric.tags.each do |tag| %>
          <%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
        <% end %>
     
      
      </div>
    <% end %>

    <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i></a></div> 

  </div>

  

 <br>
    <div class="paginate-box">
      <%= will_paginate @lyrics, renderer: BootstrapPagination::Rails %>
    </div>

    <%= render 'layouts/footer' %>

   
</section>

<% else %>

<section id="vid" class="lyric-section">

  <div id="P1" class="player" 
     data-property="{videoURL:'https://youtu.be/hbd8uFe_gfU',containment:'#vid',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1,showControls:false,addRaster:true}">
</div>




  <div class="temp-access">
        <div class="temp-access1">
          <h1 class="time-launch">5.1.15</h1>
      <p>Official Launch</p>

        </div>

        <div class="temp-access2">

      <div class="how-box2">
        <%= link_to "Get Early Access", new_user_registration_path, :class => "" %>
        
      </div>

    </div>

        <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= 2015/5/1 00:00:01 ></span>
                  </div>
      <div id="launch-links" class="how-box2">
        <%= link_to "Sign Up / Sign In", new_user_registration_path, :class => "" %>
        
          <%= link_to 'How It Works', pages_how_it_works_path, :class => "" %>

        <%= link_to 'Lab Shop', '#', :class => "" %>

        
      </div>
      <hr>

      <div class="temp-access1">
        <h1>Unlock </br>The 1st Experiment!</h1>
        
      </div>
      <div class="temp-access2">
          <div class="lock-box">
              <i class="fa fa-lock"></i>
          </div>
         
      </div>

      <hr>

      <div class="temp-access1">
        <h1><i class="fa fa-users"></i>  </h1>
      </div>
      <div class="temp-access2">
          <h1>Featured Profiles</h1>
      </div>

      <hr>

      <div class="temp-access1">
        <h1>Connect & Follow The Journey</h1>
        
      </div>
      <div class="temp-access2">
          <h1><div class="social-links"><a href="https://instagram.com/rhymesdesigns/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/RhymesDesigns" target="_blank"><i class="fa fa-facebook-square"></i></a></br>
            <a href="https://twitter.com/RhymesDesigns" target="_blank"><i class="fa fa-twitter-square"></i></a>
          <a href="http://blog.rhymesanddesigns.com/" target="_blank"><i class="fa fa-tumblr-square"></i></a>
        </div></h1>
      </div>

      <hr>

      <div class="temp-access1">
        <%= image_tag 'exp-image.png' %>
      </div>
      <div class="temp-access2">
          <h1>Learn </br>How It </br>Works</h1>
      </div>

  </div>

  </section>

  <% end %>

<section class="home-info">


  <div class="results"></div>
    

</section>



</section>






<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });
});

</script>

<script>
// fade in #back-top
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.back-top').fadeIn();
        } else {
            $('.back-top').fadeOut();
        }
    });

    // scroll body to 0px on click
    $('.back-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.lyric-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min %-S sec';  
      if (event.offset.days < 1) {
          $this.closest('.price-info').addClass('red-status');
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format2;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format2;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html();
    $this.closest('.timer-box2').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>
<script>
   $(function(){
      $(".player").YTPlayer();
    });
</script>


