<div class="container-show">
	<div class="container-line">
	<%= simple_format(@lyric.line) %>
	</div>
	<% unless @lyric.description.nil? || @lyric.description.empty? %>
	<div class="container-desc">
		<%= simple_format(@lyric.description) %>
	</div>
	<% end %>
	<div class="postedby">Posted By: <%= image_tag @lyric.user.avatar.url(:mini) %>  <%= link_to @lyric.user.username, profile_url(:id => @lyric.user.username) %></div>
		
	<div class="container-comment">
	<h2 class="comment_count">
		<%= pluralize(@lyric.comments.count, "Response") %></h2>
		<hr />
		<% @comments.each do |comment| %>
			<div class="comment">
				<%= image_tag comment.user.avatar.url(:mini) %>
				<p class="username"> <%= comment.user.username %></p></br>
				<p class="content"> <%= comment.content %></p>
				<p class="time-created"><%= time_ago_in_words(comment.created_at) %></p>
				<hr />
			</div>
		<% end %>
	<%= render 'comments/form' %>
</div>
</div>


<div class="container-more">
	<ul>
		<li><%= @lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
		<li><hr /></li>
		<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= link_to 'Like?', like_lyric_path(@lyric), method: :get %> <%= @lyric.get_upvotes.size %>  Likes</li>
		<li><hr /></li>
		<li><%= link_to 'Dislike?', dislike_lyric_path(@lyric), method: :get %>  <%= @lyric.get_downvotes.size %>  Dislikes</li>
		<% unless @lyric.tags.nil? || @lyric.tags.empty? %>
		<li><hr /></li>
		<li>
  			<% @lyric.tags.each do |tag| %>
  				<%= link_to tag.name, tagged_url(:tag => tag.name) %>
  			<% end %>
			</li>
		<% end %>
		<li><hr /></li>
		<li><strong>Artist: </strong><%= @lyric.artist %></li>
		<li><hr /></li>
		<li><strong>Song: </strong><%= @lyric.song %></li>
		<li><hr /></li>
		<li><strong>Album: </strong><%= @lyric.album %></li>
		<li><hr /></li>
		<li><%= link_to 'More', @lyric.link %></li>
		<li><hr /></li>
		<li><% if can? :update, @lyric %>
		<%= link_to 'Edit', edit_campaign_lyric_path(@lyric.campaign, @lyric) %> | 
		<% end %>
		<% if can? :destroy, @lyric %>
		<%= link_to 'Destroy', [@lyric.campaign, @lyric], method: :delete, data: {confirm: "Are you sure?" } %>
		<% end %></li>
		<li>	
			<div class="container-profile">
				<%= image_tag @lyric.user.avatar.url(:thumb) %>
					<%= link_to @lyric.user.username, profile_url(:id => @lyric.user.username) %>
					
					</br>
					<div class="following-show">
						<p><%= @lyric.user.follow_count %> Following  | 
						<%= @lyric.user.followers_count %> Followers</p>
						<% if user_signed_in? %>
							<% if current_user == @lyric.user %>
								<p></p>
							<% elsif  @lyric.user.all_following.include?(current_user) %>
								<%= link_to "Unfollow", unfollow_profile_path(@lyric.user.username) %>
							<% else %>
								<%= link_to "Follow", follow_profile_path(@lyric.user.username) %>
							<% end %>
						<% else %>
							<p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
						<% end %>
					</div>
					<hr>
					<div class="points-show">
						Points | <%= @lyric.user.points %>
					</div>
					<div class="badge-show">
						Badges:</br>
						<% @lyric.user.badges.each do |badge| %>
				  			<%= badge.name %>
						<% end %>
					</div>
					
			</div></li>
	</ul>
	</div>

	<div id="random_post">
		<h3> More Lyrics </h3>
		<div class="container-show2">
			<%= link_to simple_format(@random_lyric.line), campaign_lyric_path(@campaign, @random_lyric) %>
			<%= @random_lyric.user.username %>
		</div>
	</div>
			
	</div>
						

<div class="back-footer">
	<%= link_to 'Add Lyric', new_campaign_lyric_path(@campaign) %>
	<%= link_to 'Lyric Center', campaign_lyrics_path %>
</div>



