<% if can? :manage, :all %>


<section class="lyric-section">

  <div class="stepbackward">
      <%= link_to campaign_lyric_path(@campaign, @previous_lyric) do %>
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
      <% end %>
    </div>
    <div class="stepforward">
      <%= link_to campaign_lyric_path(@campaign, @next_lyric) do %>
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
      <% end %>
      </div>

<div class="container-show">
  
   <% if @lyric.line.present? %>
  <div class="container-line">
    
  <%= simple_format(@lyric.line) %>

  </div>
  <% end %>
  
<div class="container-extra">
   <ul>
        <li><%= @lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>

        <li><span class="up <%= @lyric.id %>"><%= @lyric.get_upvotes.size %> </span>
          <%= link_to like_lyric_path(@lyric), class: ['voteup', @lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
            <span class="down <%= @lyric.id %>"><%= @lyric.get_downvotes.size %></span>
          <%= link_to dislike_lyric_path(@lyric), class: ['votedown', @lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </li>

        <li><%= @lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        
        </ul>
     
        <% unless @lyric.tags.nil? || @lyric.tags.empty? %>
        <ul>
    <li>
        <% @lyric.tags.each do |tag| %>
          <%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
        <% end %>
      </li>
    </ul>
    <% end %>

       <ul>

          <li><strong>Posted By:</strong> <% if @lyric.user.avatar.present? %>
            <%= image_tag @lyric.user.avatar.url(:mini) %>
            <% end %> 
            <% if @lyric.user.username.present? %>
            <%= link_to @lyric.user.username, profile_url(:id => @lyric.user.username) %>
            <% end %></li>
          
        </ul>
        <% if @lyric.campaign.title.present? %>
        <ul>
          <li><strong>Experiment</strong> |  <%= link_to @lyric.campaign.title, campaign_url(@lyric.campaign) %> </li>
        </ul>
        <% end %>

        <div class="artist-info">
        <ul>
            <li>
               <% if @campaign.artist.nil? || @campaign.artist.empty? %>
                    <% if @lyric.artist.present? %>
                    <strong>Artist: </strong><%= @lyric.artist %>
                    <% end %>
                    <% else %>
                    <strong>Artist: </strong> <%= @campaign.artist %>
                    <% end %>
                  </li>

              <li>
               <% if @campaign.album.nil? || @campaign.album.empty? %>
                    <% if @lyric.album.present? %>
                    <strong>Album: </strong><%= @lyric.album %>
                    <% end %>
                    <% else %>
                    <strong>Album: </strong> <%= @campaign.album %>
                     <% end %>
                  </li>

              <li>
               <% if @campaign.song.nil? || @campaign.song.empty? %>
                    <% if @lyric.song.present? %>
                    <strong>Song: </strong><%= @lyric.song %>
                    <% end %>
                    <% else %>
                    <strong>Song: </strong> <%= @campaign.song %>
                     <% end %>
                  </li>

              <li>
               <% if @campaign.link.nil? || @campaign.link.empty? %>
                    <% if @lyric.link.present? %>
                    <%= link_to 'More Info', @lyric.link %>
                    <% end %>
                    
                    <% else %>

                    <%= link_to 'More Info', @campaign.link %>
                     <% end %>
                 
                  </li>

      </ul>

        </div>

        <ul>
            <li><% if can? :update, @lyric %>
    <%= link_to 'Edit', edit_campaign_lyric_path(@lyric.campaign, @lyric) %> | 
    <% end %>
    <% if can? :destroy, @lyric %>
    <%= link_to 'Destroy', [@lyric.campaign, @lyric], method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %></li>

        </ul>
    </div>
     <% unless @lyric.description.nil? || @lyric.description.empty? %>
  <div class="container-desc">
    <%= simple_format(@lyric.description) %>
  </div>
  <% end %>
    
  <div class="container-comment">
  <h2 class="comment_count">
    <%= pluralize(@lyric.comments.count, "Response") %></h2>
    <hr />


   <div id="comments">
     <%= render @lyric.comments %>
   </div>


  <%= render 'comments/form' %>
</div>



</div>


      <div id="lyrics" class="transitions-enabled">
    <% @random_lyrics.each do |random_lyric| %>
    <div class="container-md">

        <% if random_lyric.line.present? %>
        <%= link_to random_lyric.line, campaign_lyric_path(@campaign, random_lyric) %>

        <% end %>
        <ul>
        <li><%= random_lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>


          <li><span class="up <%= random_lyric.id %>"><%= random_lyric.get_upvotes.size %> </span>
          <%= link_to like_lyric_path(random_lyric), class: ['voteup', random_lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
            <span class="down <%= random_lyric.id %>"><%= random_lyric.get_downvotes.size %></span>
          <%= link_to dislike_lyric_path(random_lyric), class: ['votedown', random_lyric.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </li>


  <script>

    $('.voteup' + '.<%= random_lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up' + '.<%= random_lyric.id %>').html(data.count);
    $('.down' + '.<%= random_lyric.id %>').html(data.count2);
  });

    </script>

      <script>

    $('.votedown' + '.<%= random_lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down' + '.<%= random_lyric.id %>').html(data.count2);
    $('.up' + '.<%= random_lyric.id %>').html(data.count);
  });

    </script>

      
        <li><%= random_lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><% if random_lyric.user.avatar.present? %><%= image_tag random_lyric.user.avatar.url(:mini) %><% end %><% if random_lyric.user.username.present? %><%= link_to random_lyric.user.username, profile_url(:id => random_lyric.user.username) %><% end%></li>


        </ul>
        <br />
        <ul class="tag-list">
        <li><% random_lyric.tags.any? %>
          <% random_lyric.tags.each do |tag| %>
          <%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>

  </div>

</section>

  <section class="home-info">


  <div class="results"></div>
    

</section>


						

<% end %>


<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });

     // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleThree").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleThreeHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleThreeHiddenTitle').html();
        }
    });

});

</script>

  <script>

    $('.voteup' + '.<%= @lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up' + '.<%= @lyric.id %>').html(data.count);
    $('.down' + '.<%= @lyric.id %>').html(data.count2);
  });

    </script>

      <script>

    $('.votedown' + '.<%= @lyric.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down' + '.<%= @lyric.id %>').html(data.count2);
    $('.up' + '.<%= @lyric.id %>').html(data.count);
  });

    </script>

    <script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.lyric-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>
 




