<div class="stepbackward">
			<%= link_to campaign_lyric_path(@campaign, @previous_lyric) do %>
				<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
			<% end %>
		</div>
		<div class="stepforward">
			<%= link_to campaign_lyric_path(@campaign, @next_lyric) do %>
				<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
			<% end %>
			</div>

<div class="container-show">
	
   <% if @lyric.line.present? %>
	<div class="container-line">
		
	<%= simple_format(@lyric.line) %>

	</div>
  <% end %>
	
<div class="container-extra">
	 <ul>
        <li><%= @lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        <li><span class="up"><%= @lyric.get_upvotes.size %> </span>
          <%= link_to like_lyric_path(@lyric), class: 'voteup', remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
            <span class="down"><%= @lyric.get_downvotes.size %></span>
          <%= link_to dislike_lyric_path(@lyric), class: 'votedown', remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </li>
        <li><%= @lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        
        </ul>
     
        <% unless @lyric.tags.nil? || @lyric.tags.empty? %>
        <ul>
		<li>
  			<% @lyric.tags.each do |tag| %>
  				<%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
  			<% end %>
			</li>
		</ul>
		<% end %>

		   <ul>

        	<li>Posted By:  <% if @lyric.user.avatar.present? %><a href="#" class="popoverExampleTwo" data-placement="auto left" data-trigger="click"><%= image_tag @lyric.user.avatar.url(:mini) %></a><% end %> <% if @lyric.user.username.present? %><%= link_to @lyric.user.username, profile_url(:id => @lyric.user.username) %><% end %></li>
        	
        </ul>
        <% if @lyric.campaign.title.present? %>
        <ul>
        	<li><strong>Experiment</strong> |  <a href="#" class="popoverExampleThree" data-placement="auto left" data-trigger="click"><%= @lyric.campaign.title %> </a></li>
        </ul>
        <% end %>


				  <!-- Popover 2 hidden content -->
				  <div class="popoverExampleTwoHiddenContent" style="display: none">
				     <div>
            <% if @lyric.user.avatar.present? %>
				     	<%= image_tag @lyric.user.avatar.url(:thumb) %>
              <% end %>
              <% if @lyric.user.username.present? %>
									<%= link_to @lyric.user.username, profile_url(:id => @lyric.user.username) %>
									<% end %>
						</br>
						<div class="following-show">
							<p><%= @lyric.user.follow_count %> Following  | 
							<%= @lyric.user.followers_count %> Followers</p>
							<% if user_signed_in? %>
								<% if current_user == @lyric.user %>
									<p></p>
								<% elsif  @lyric.user.all_following.include?(current_user) %>
									<%= link_to "Unfollow", unfollow_profile_path(@lyric.user.username) %>
								<% else %>
									<%= link_to "Follow", follow_profile_path(@lyric.user.username) %>
								<% end %>
							<% else %>
								<p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
							<% end %>
						</div>
						<hr>
            <% if @lyric.user.points.present? %>
						<div class="points-show">
							Points | <%= @lyric.user.points %>
						</div>
            <% end %>


	     			</div>
					  </div>  
					  <!-- Popover 2 hidden title -->
					  <div class="popoverExampleTwoHiddenTitle" style="display: none">
     
  </div> 

    <!-- Popover 2 hidden content -->
  <div class="popoverExampleThreeHiddenContent" style="display: none">

       <% if @campaign.image.present? %>
      <div class="campaign-img">
            <%= image_tag @campaign.image.url(:medium) %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
            <% if @campaign.title.present? %>
            <li><strong><%= link_to simple_format(@campaign.title), @campaign %></strong></li>
            <% end %>
            <% if @campaign.timer.present? %>
            <li><%= @campaign.timer %> Left</li>
            <% end %>
          </ul>
        </div>




  </div>  
  <!-- Popover 2 hidden title -->
  <div class="popoverExampleThreeHiddenTitle" style="display: none">
     
  </div> 


        <div class="artist-info">
		    <ul>
		        <li>
               <% if @campaign.artist.nil? || @campaign.artist.empty? %>
                    <% if @lyric.artist.present? %>
                    <strong>Artist: </strong><%= @lyric.artist %>
                    <% end %>
                    <% else %>
                    <strong>Artist: </strong> <%= @campaign.artist %>
                    <% end %>
                  </li>

              <li>
               <% if @campaign.album.nil? || @campaign.album.empty? %>
                    <% if @lyric.album.present? %>
                    <strong>Album: </strong><%= @lyric.album %>
                    <% end %>
                    <% else %>
                    <strong>Album: </strong> <%= @campaign.album %>
                     <% end %>
                  </li>

              <li>
               <% if @campaign.song.nil? || @campaign.song.empty? %>
                    <% if @lyric.song.present? %>
                    <strong>Song: </strong><%= @lyric.song %>
                    <% end %>
                    <% else %>
                    <strong>Song: </strong> <%= @campaign.song %>
                     <% end %>
                  </li>

              <li>
               <% if @campaign.link.nil? || @campaign.link.empty? %>
                    <% if @lyric.link.present? %>
                    <%= link_to 'More Info', @lyric.link %>
                    <% end %>
                    
                    <% else %>

                    <%= link_to 'More Info', @campaign.link %>
                     <% end %>
                 
                  </li>

			</ul>

        </div>

        <ul>
        		<li><% if can? :update, @lyric %>
		<%= link_to 'Edit', edit_campaign_lyric_path(@lyric.campaign, @lyric) %> | 
		<% end %>
		<% if can? :destroy, @lyric %>
		<%= link_to 'Destroy', [@lyric.campaign, @lyric], method: :delete, data: {confirm: "Are you sure?" } %>
		<% end %></li>

        </ul>
    </div>
     <% unless @lyric.description.nil? || @lyric.description.empty? %>
	<div class="container-desc">
		<%= simple_format(@lyric.description) %>
	</div>
	<% end %>
		
	<div class="container-comment">
	<h2 class="comment_count">
		<%= pluralize(@lyric.comments.count, "Response") %></h2>
		<hr />


   <div id="comments">
     <%= render @lyric.comments %>
   </div>


	<%= render 'comments/form' %>
</div>



</div>

<section class="home-info">




</section>

<section class="lyric-section">

  <div id="lyrics" class="transitions-enabled">
    <% @random_lyrics.each do |random_lyric| %>
    <div class="container-md">

        <% if random_lyric.line.present? %>
        <%= link_to random_lyric.line, campaign_lyric_path(@campaign, random_lyric) %>
        <% end %>
        <ul>
        <li><%= random_lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        <li><%= random_lyric.get_upvotes.size %> 
          <%= link_to like_lyric_path(random_lyric), method: :get do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
          </li>
        <li><%= random_lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><% if random_lyric.user.avatar.present? %><a href="#" id="popoverExampleTwo" data-placement="auto left" data-trigger="click"><%= image_tag random_lyric.user.avatar.url(:mini) %></a><% end %><% if random_lyric.user.username.present? %><%= link_to random_lyric.user.username, profile_url(:id => random_lyric.user.username) %><% end %></li>
        				<!-- Popover 2 hidden content -->
                          <div class="popoverExampleTwoHiddenContent" style="display: none">
                             <div>
                              <% if random_lyric.user.avatar.present? %>
                              <%= image_tag random_lyric.user.avatar.url(:thumb) %>
                              <% end %>
                              <% if random_lyric.user.username.present? %>
                                  <%= link_to random_lyric.user.username, profile_url(:id => random_lyric.user.username) %>
                                  <% end %>
                                  
                                  </br>
                                  <div class="following-show">
                                    <p><%= random_lyric.user.follow_count %> Following  | 
                                    <%= random_lyric.user.followers_count %> Followers</p>
                                    <% if user_signed_in? %>
                                      <% if current_user == random_lyric.user %>
                                        <p></p>
                                      <% elsif  random_lyric.user.all_following.include?(current_user) %>
                                        <%= link_to "Unfollow", unfollow_profile_path(random_lyric.user.username) %>
                                      <% else %>
                                        <%= link_to "Follow", follow_profile_path(random_lyric.user.username) %>
                                      <% end %>
                                    <% else %>
                                      <p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
                                    <% end %>
                                  </div>
                                  <hr>
                                  <% if random_lyric.user.points.present? %>
                                  <div class="points-show">
                                    Points | <%= random_lyric.user.points %>
                                  </div>
                                  <% end %>


                             </div>
                          </div>  
                          <!-- Popover 2 hidden title -->
                          <div class="popoverExampleTwoHiddenTitle" style="display: none">
                             
                          </div> 





        </ul>
        <br />
        <ul class="tag-list">
        <li><% random_lyric.tags.any? %>
          <% random_lyric.tags.each do |tag| %>
          <%= link_to tag.name, campaign_tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>
  </div>

  <div class="back-footer">
	<%= link_to 'Add Lyric', new_campaign_lyric_path(@campaign) %> | <%= link_to 'Lyric Center', campaign_lyrics_path %>
</div>


</section>


						




<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });

     // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleThree").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleThreeHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleThreeHiddenTitle').html();
        }
    });

});

</script>

  <script>

    $('.voteup')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up').html(data.count);
    $('.down').html(data.count2);
  });

    </script>

      <script>

    $('.votedown')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down').html(data.count2);
    $('.up').html(data.count);
  });

    </script>

 




