<div class="page-header">
	<%= image_tag @user.avatar.url(:medium) %>
	<h1><%= @user.username %></h1>
	
</div>

<% if @lyrics %>
	<% @lyrics.each do |lyric| %>
		<div class="well">
			<%= lyric.line %>
			<hr />
			<%= link_to time_ago_in_words(lyric.created_at), lyric_path(lyric) %> ago
		</div>
	<% end %>
<% end %>

<%= link_to "Follow", follow_profile_path(@user.username) %>

<%= link_to "Unfollow", unfollow_profile_path(@user.username) %>

<p><%= @user.follow_count %> Following</p>
<p><%= @user.followers_count %> Followers</p>


	<p><%= @user.all_follows %></p>
	<p><%= @user.all_following %></p>

<% if @user.all_follows %>
	<% @user.all_follows.each do |user| %>
		<div>
			<%= image_tag @user.avatar.url(:thumb) %>
			<hr />
			<%= @user.username %> 
		</div>
	<% end %>
<% end %>


	<% @user.all_following.each do |user| %>
		<div>
			<%= image_tag @user.avatar.url(:thumb) %>
			<hr />
			<%= @user.username %> 
		</div>
	<% end %>




 


