


<section class="profile-back">
<div class="profile-lyrics">
	<% if @user.profileimg.present? %>
		<div class="profile-header">
			<%= image_tag @user.profileimg.url(:large) %>
		</div>

	<% elsif %>
		<div class="profile-header">
			<%= image_tag 'profile-missing.png' %>
		</div>

	<% end %>


<div class="profile-topbox">
	
	
	<div class="profile-topbox2">

		<div class="profile-topbox3">
		<div class="profile-topbox1">
		<% if @user.avatar.present? %>
			<div class="profile-main">
				<%= image_tag @user.avatar.url(:medium) %>
			</div>

		<% elsif %>
			<div class="profile-main">
				<%= image_tag 'red-gasmask.png' %>
			</div>

		<% end %>

		<% if @user.name.present? %>
			<h1><%= @user.name %></h1>
		<% end %>

		<% if @user.username.present? %>
			<h2>@<%= @user.username %></h2>
		<% end %>
				<hr>

		<% if @user.location.present? %>
			<div class="profile-location">
				<%= @user.location %>
			</div>
		<% end %>

		<% if @user.website.present? %>
			<div class="profile-location">
				<%= link_to "Website", @user.website, :target => "_blank" %>
			</div>
		<% end %>

		<div class="profile-follow-button">
				<% if user_signed_in? %>
					<% if current_user == @user %>
						<p></p>
					<% elsif  @user.followers.include?(current_user) %>
						<%= link_to "Unfollow", unfollow_profile_path(@user.username) %>
					<% else %>
						<%= link_to "Follow", follow_profile_path(@user.username) %>
					<% end %>
				<% else %>
					<p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
				<% end %>
		</div>


	</div>


		<div class="container-fluid">
  			<% if @user.bio.present? %>
				<div class="profile-bio">
					<%= @user.bio %>
				</div>
				<% end %>
			
			
			<hr>

			<% if @user.passion.present? %>
				<div class="profile-passion">
					<%= @user.passion %>
				</div>
		<% end %>


			<div class="panel panel-default follow-box">
				  <div class="panel-heading"><h3><%= @user.follow_count %> Following</h3></div>
				  <div class="panel-body">
				  	<% @user.all_following.each do |user| %>
						<div class="following">
							<%= link_to profile_url(:id => user.username) do %>
								<% if user.avatar.url.present? %>
								<%= image_tag user.avatar.url(:mini), :title => user.username %>
								<% else %>
								<%= image_tag("#{RAILS_ROOT}/public/images/mini/black-logo-gasmask.png") %>
								<% end %>
								<% end %>
							</div>
						<% end %>
				  </div>
				</div>

					<div class="panel panel-default follow-box">
				  <div class="panel-heading"><h3><%= @user.followers_count %> Followers</h3></div>
				  <div class="panel-body">
				  	<% @user.followers.each do |user| %>
					<div class="follows">
					<%= link_to profile_url(:id => user.username) do %>
					<%= image_tag user.avatar.url(:mini), :title => user.username %>
					<% end %>
					</div>
					<% end %>
						
					</div>
				  </div>


	</div>
	<div class="video-photo-box">




    <div class="profile-video2">
    	<% if @videos.any? %>
		    <% @videos.each do |video| %>
		    	<% if video.approve == true %>
		    		<% unless video.videolink.nil? || video.videolink.empty? %>
					
						<p><%= raw(youtube_embed(video.videolink)) %></p>
					<% end %>
		    	<% end %>
			<% end %>
		<% end %>
	</div>


    <div class="profile-video">
    <% if @videos.any? %>
	    <% @videos.each do |video| %>
	    	<% if video.approve == true %>
		    	<% if @video.image.present? %>
		    		<%= image_tag video.image.url(:medium) %>
		    		<%= link_to video.videolink, class: "fancybox-media" do %>
		    		<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
		    		<% end %>
	    		<% else %>
		    		<% unless video.videolink.nil? || video.videolink.empty? %>
					
						<p><%= raw(youtube_embed(video.videolink)) %></p>
					<% end %>

	    		<% end %>
	    	
			<% end %>
		<% end %>
	<% elsif current_user == @user %>
			Add Video to Profile
	<% else %>

	<% end %>
	</div>

	</div>

			<% if user_signed_in? && current_user == @user %>
		
			 <div class="dropdown">
		      <a  href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		      </a>
		      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		      	<li role="presentation"><h5>Profile Settings</h5></li>

		      	<li role="presentation"><%= link_to "Account", edit_user_registration_path %></li>
		      	<% if @videos.any? %>

		      	<% else %>
		        <li role="presentation"><%= link_to 'Add Video', new_video_path %></li>
		        <% end %>
		        <li role="presentation"><%= link_to 'Add Photo', new_photo_path, remote: true %></li>
		        <li role="presentation"><div id="photo-form" style="display:none;"></div></li>
		        
		      </ul>
	    	</div>
	    <% end %>
		


			</div>


			<div class="tab-box" role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			  	<li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Portfolio</a></li>
			    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lyrics</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Designs</a></li>
			    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Posts</a>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane" id="home">
			    	<% if can? :manage, :all %>
			    		<% if @lyrics.any? %>
							<% @lyrics.each do |lyric| %>
									    <div class="container-md">

									        <% if lyric.line.present? %>
									        <%= link_to lyric.line, "/campaigns/2/lyrics/#{lyric.id}" %>
									        <% end %>
									        <ul>
									        	<li><span class="profile-time"><%= time_ago_in_words(lyric.created_at) %> ago </span></li>
									        <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
									        <li><%= lyric.get_upvotes.size %> 
									          <%= link_to like_lyric_path(lyric), method: :get do %>
									              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
									            <% end %>
									          </li>
									        <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
									        <li><% if lyric.user.avatar.present? %><a class="popoverExampleTwo" data-placement="auto left" data-trigger="click" return false;><%= image_tag lyric.user.avatar.url(:mini) %></a><% end %><% if lyric.user.username.present? %><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %><% end%></li>

									        </ul>
									     
									      
									      </div>
							<% end %>
						<% elsif current_user == @user %>
							<p>No lyrics posted yet.  <%= link_to 'Add Your Favorite Lyrics', "/campaigns/2/lyrics/new" %></p>
						<% else %>
							<p>No lyrics posted yet.</p>		
						<% end %>
					<% else %>
						<div class="soon-info">
							<p>Rhyme Center where you can participate in our creative process by voting and submitting your favorite lyrics to different Experiments avaialable soon.</p></br>
							<%= image_tag 'rnd-lab-info2.png', :class => "info-image2" %>
							<%= image_tag 'rnd-rhyme-info4.png', :class => "info-image2" %>
							<%= image_tag 'rnd-design-info3.png', :class => "info-image2" %>
							<%= image_tag 'rnd-products-info5.png', :class => "info-image2" %>
						</div>
					<% end %>





			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    	<% if can? :manage, :all %>
			    	    		<% if @arts.any? %>
							<% @arts.each do |art| %>
								<div class="well">
									<%= image_tag art.image.url(:small) %>
									<hr />
									<span class="profile-time"><%= time_ago_in_words(art.created_at) %> ago </span>
								</div>
							<% end %>
						<% elsif current_user == @user %>
							<p>No art posted yet.  <%= link_to 'Add Your Favorite Artwork', "/campaigns/2/arts/new" %></p>
						<% else %>
							<p>No art posted yet.</p>		
						<% end %>
					<% else %>
						<div class="soon-info">
							<p>Design Center where you can participate in our creative process by voting and submitting artwork to different Experiments avaialable soon.</p></br>
							<%= image_tag 'rnd-lab-info2.png', :class => "info-image2" %>
							<%= image_tag 'rnd-rhyme-info4.png', :class => "info-image2" %>
							<%= image_tag 'rnd-design-info3.png', :class => "info-image2" %>
							<%= image_tag 'rnd-products-info5.png', :class => "info-image2" %>
						</div>
					<% end %>


			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	<% if can? :manage, :all %>
			    	    <% if @posts.any? %>
							<% @posts.each do |post| %>
								<div class="well">
									<%= image_tag post.image.url(:small) %>
									<hr />
									<span class="profile-time"><%= time_ago_in_words(post.created_at) %> ago </span>
								</div>
							<% end %>
						<% elsif current_user == @user %>
							<p>No blog post posted yet.  <%= link_to 'Whats link to post? CC', "/campaigns/2/arts/new" %></p>
						<% else %>
							<p>No blog post posted yet.</p>		
						<% end %>
					<% else %>
						<div class="soon-info">
							<p>Community Blog where you can post updates on yourself or your creative community available soon.</p></br>

							<%= image_tag 'rnd-lab-info2.png', :class => "info-image2" %>
							<%= image_tag 'rnd-rhyme-info4.png', :class => "info-image2" %>
							<%= image_tag 'rnd-design-info3.png', :class => "info-image2" %>
							<%= image_tag 'rnd-products-info5.png', :class => "info-image2" %>
						</div>
					<% end %>




			    </div>

			    <div role="tabpanel" class="tab-pane active" id="settings">
			    		<% if @photos.any? %>
				
					  <div class="transitions-enabled" id="photos"><%= render @photos %></div>
					  <% elsif current_user == @user %>

					  	<%= link_to new_photo_path, remote: true do %>
					      <button class="btn btn-default">New</button>
					    <% end %>
					    <% else %>
					    No items added yet.

					  <% end %>
			

			   

						
			    </div>
			  </div>
			</div>

	</div>


</div>






</div>


<div id="profile-box1">
	<div class="results"></div>





</div>

</section>



<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  	e.target // newly activated tab
  	e.relatedTarget // previous active tab
	})

  $('#myTab a[href="#home"]').tab('show')
  $('#myTab a[href="#profile"]').tab('show')
  $('#myTab a[href="#messages"]').tab('show')
  $('#myTab a[href="#settings"]').tab('show')
</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('#profile-box1'),
        leftBottom = left.height(),
        right = $('.profile-lyrics'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

    	    if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            'margin-left': '80%'
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script>
$(document).ready(function() {
	$('.fancybox-media').fancybox({
		openEffect  : 'none',
		closeEffect : 'none',
		helpers : {
			media : {}
		}
	});
});
</script>







 


