<div class="page-header">
	<%= image_tag @user.avatar.url(:medium) %>
	<h1><%= @user.username %></h1>
	
</div>

<% if @lyrics %>
	<% @lyrics.each do |lyric| %>
		<div class="well">
			<%= lyric.line %>
			<hr />
			<%= link_to time_ago_in_words(lyric.created_at), lyric_path(lyric) %> ago
		</div>
	<% end %>
<% end %>

<%= link_to "Follow", follow_profile_path(@user.username) %>

<%= link_to "Unfollow", unfollow_profile_path(@user.username) %>

<p><%= @user.follow_count %> Following</p>
<p><%= @user.followers_count %> Followers</p>

<div class="follows2">
	<p><%= @user.followers %></p>
</div>
<div class="following2">
	<p><%= @user.all_following %></p>
</div>


	<% @user.followers.each do |user| %>
		<div class="follows">
			<%= image_tag user.avatar.url(:thumb) %>
			<hr />
			<%= user.username %> 
		</div>
	<% end %>



	<% @user.all_following.each do |user| %>
		<div class="following">
			<%= image_tag user.avatar.url(:thumb) %>
			<hr />
			<%= user.username %> 
		</div>
	<% end %>




 


