
			<div class="comment <%= comment.id %>">
			<% unless comment.user.avatar.nil? %>

				<%= image_tag comment.user.avatar.url(:mini) %>
				<% end %>
			<% unless comment.user.username.nil? || comment.user.username.empty? %>

				<p class="username"> <%= comment.user.username %></p></br>
				<% end %>
			<% unless comment.content.nil? || comment.content.empty? %>

				<p class="content"> <%= comment.content %></p>
				<% end %>
				<p class="time-created"><%= time_ago_in_words(comment.created_at) %>
					<% if can? :destroy, comment %>
				<%= link_to lyric_comment_path(@lyric, comment), class: "delete-link", method: :delete,  data: { confirm: 'Are you sure?' } do %>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

				<% end %>
				<% end %>
				</p>


				<hr />
			</div>

