<%= simple_form_for(@video) do |f| %>

      <%= f.error_notification %>

  <% if can? :manage, :all %>
  <%= f.input :approve %>
  <% end %>

  <% if @video.approve == true %>
  <div class="approved-box">Your video has been approved.</div>

  <% if can? :manage, :all %>
  <%= f.input :title, label: "Title" %>
  <%= f.file_field :image %>
  <%= f.input :videolink, label: "Add Youtube Video Link" %>

  <%= f.button :submit, "Submit", class: "post-button" %>


  <% end %>

  <% else %>

  <%= f.input :title, label: "Title" %>

  <%= f.input :videolink, label: "Add Youtube Video Link", hint: "Input YouTube Share Link. Format: http://youtu.be/1AjULLsdp5E" %>

  <%= f.button :submit, "Submit", class: "post-button" %>

  <% end %>



<% end %>