
<section class="aboutus-section">


<div id="about-passion" class="about-box1">
	<div class="about-half">

		<%= image_tag 'inspirepassion-about.png', :class => "info-image" %>


	</div>
	<div class="about-half">

		<%= image_tag 'image1-about.png', :class => "info-image" %>

	</div>
</div>

<div id="about-more" class="about-box1">
	<div class="about-half">
		<div class="aboutus-info">

			<h1>About Us</h1>

			<p>We are a community-driven brand that votes to select top designs, inspired by lyrics of the community's favorite artists. With a platform founded on “Inspiring Passion”, we have established a positive community to showcase our collective talents, and develop Dope Merch in the process.</p>
		</div>
	</div>
	<div class="about-half">

		

		<%= image_tag 'image2-about.png', :class => "info-image" %>

	</div>
</div>

<div id="about-community" class="about-box1">
	<div class="about-half">

		<%= image_tag 'image3-about.jpg', :class => "info-image" %>

		
	</div>
	<div class="about-half">
		<div class="aboutus-pillars">
		
			Community.</br>
			Passion.</br>
			Music.</br>
			Art.
		
		</div>
	</div>
</div>

<div id="about-more" class="about-box1">
	<div class="about-half">
		<div class="aboutus-info">

			<h1>Community</h1>
			<h3>R&D is a community platform.</h3>

			<p>Our platform brings together artists and people of all backgrounds around the topics of art, music and culture. Our community consists of artists, creatives, music lovers, art collectors, curators, trend setters, just to name a few.</p>
		</div>
	</div>
	<div class="about-half">

		

		<%= image_tag 'image4-about.jpg', :class => "info-image" %>

	</div>
</div>

<div id="about-more" class="about-box1">
	<div class="about-half">

		

		<%= image_tag 'image6-about.jpg', :class => "info-image" %>

	</div>
	<div class="about-half">
		<div class="aboutus-info">

			<h1>Passion</h1>
			<h3>Inspiring passion is the mission.</h3>

			<p>This community driven brand was founded on passion. A passion for music, art, culture and tech. Anybody and everybody can express themselves on the R&D platform.</p>
		</div>
	</div>

</div>

<div id="about-more2" class="about-box1">
	<div class="about-half">
		<div class="aboutus-info">

			<h1>Music</h1>
			<h3>Music connects us all.</h3>

			<p>R&D is inspired by music and the lyrics that make it dope. We use the lyrics of your favorite artists for inspiration to create dope designs and merch.</br>
			On our community platform, you will be able to contribute your favorite lines based on the focus/theme of each experiment. Let us know what your favorite line is from the hottest most recent Hip Hop project or submit that line you live by from a classic album.</br>
			Local and up-and-coming artists should be on the lookout for opportunities to submit their own music, and partner with us to market their next project.</p>
		</div>

		<div class="aboutus-info">

			<h1>Art</h1>
			<h3>Art is the truest form of expression.</h3>

			<p>We take the top lyrics from the community and design dope art based on the lyrics to develop tees and merch.</br></br>
			Artists of all types will be able to submit their artwork inspired by vocal artists’ lyrics. Our community will rate each piece submitted to help select the artwork that will be printed on tees and other merch.</br></br>Illustrators, designers, photographers, painters and all other creatives; submit your artwork to promote your brand, get paid and get dope rewards.</p>
		</div>
	</div>
	<div class="about-half">

		<%= image_tag 'nige-pics-about.jpg', :class => "info-image" %>
		<%= image_tag 'callis-pics-about.jpg', :class => "info-image" %>
		<%= image_tag 'image5-about.jpg', :class => "info-image" %>


	</div>
</div>



<%= render 'layouts/footer' %>

</section>
