<div class="homepage-box1">	

	<div id="homepage-vid">
		<iframe width="100%" height="400" src="https://www.youtube.com/embed/rZ948let4m0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>


	<div class="homepage-box2">
		<div class="homepage-lyric">
	  
			<% if @home_lyric.line.present? %>
			  <div class="container-line">
			    
			  <%= simple_format(Obscenity.replacement(:nonconsonants).sanitize(@home_lyric.line)) %>

			  </div>

			<div class="container-extra">

			  <ul>

			          <li><strong>Posted By:</strong> <% if @home_lyric.user.avatar.present? %>
			            <%= image_tag @home_lyric.user.avatar.url(:mini) %>
			            <% end %> 
			            <% if @home_lyric.user.username.present? %>
			            <%= link_to @home_lyric.user.username, profile_url(:id => @home_lyric.user.username) %>
			            <% end %></li>
			             <% if @home_lyric.personal == true %>
			                <li><span data-toggle="tooltip" data-placement="top" title="Submitted By Artist"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></li>
			               <% end %>

			  <li>
               <% if @home_lyric.campaign.artist.nil? || @home_lyric.campaign.artist.empty? %>
                    <% if @home_lyric.artist.present? %>
                    <strong>Artist: </strong><%= @home_lyric.artist %>
                    <% end %>
                    <% else %>
                    <strong>Artist: </strong> <%= @home_lyric.campaign.artist %>
                    <% end %>
                  </li>
          
          
        </ul>

        <div class="artist-info">
        <ul>

              </ul>
          </div>
    </div>
			<% end %>

			<div class="button-home">
			 <%= link_to 'Submit Lyric', new_campaign_lyric_path(Campaign.last), :class => "home-button" %>
			 <%= link_to 'Vote on Lyrics', "/campaigns/2/lyrics", :class => "home-button" %>

			</div>
		</div>

		<div class="homepage-experiment">

			<div class="campaign-md">
		       <% unless @home_campaign.image.nil? %>
		        <div class="campaign-img">
		            <%= link_to @home_campaign do %>
		            <%= image_tag @home_campaign.image.url(:large) %>
		            <% end %>
		        </div> 
		        <% end %>
		        <div class="home-campaign-info">
		        	<span class="home-number"><%= @home_campaign.lyrics.count %></span> 
		        	<p>Lyrics</br>Submitted</p>

		        	<span class="home-number"><span class="timer-line" data-countdown= <%= @home_campaign.timer %> ></span></span> 
		        	<p>Days</br>Left</p>

		    	</div>


		    	<div class="home-campaign-info2">
                <% unless @home_campaign.title.nil? || @home_campaign.title.empty? %>
                   <%= link_to campaign_path(@home_campaign) do %>
                    <h1><%= @home_campaign.title %></h1>
                    <% end %>
                <% end %>

		    	</div>
		       </div>


		</div>
	</div>

</div>

<div class="homepage-passion">


</div>

<div class="homepage-box3">
	<div class="image-box">

	</div>
	<div class="image-box">

	</div>



</div>





  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%D';
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>