

<div class="works-top">
	<h1>How It Works</h1>
	<div class="howitworks-para">
		R&D has an unique process to create dope products inspired by music with our creative community.  Each experiemnt is themed for a specific artist, music project and/or partnership.  The community submit and vote on their favorite lyrics.  Artists submit designs inspired by the top lyrics.  Top designs are printed and sold where artists are rewarded and share in the profits.
	</div>
	<div class="how-box">
		<%= image_tag 'howitworks-img-1.png', :class => "how-image" %>
		Experiments inspired by your fav music and artists.
	</div>
	<div class="how-box">
   	<%= image_tag 'howitworks-img-2.png', :class => "how-image" %>
		Submit & vote on your fav lyrics from your fav artists.
		   	</div>
	<div class="how-box">
   	<%= image_tag 'howitworks-img-3.png', :class => "how-image" %>
		Submit and/or vote on designs inspired by top lyrics.
	   	</div>
	<div class="how-box">
  	<%= image_tag 'howitworks-img-4.png', :class => "how-image" %>
		Help create dope tees & products inspired by music.
	  	</div>
</div>
<div class="works-top" id="works-exp">
	<h2>Experiments</h2>
	<p>First, experiments are created. Experiments set the theme and focus for the lyrics and designs. We partner with artists on experiments to showcase their work.</p>
		</br><p>Ex: Submit your fav lines from The College Dropout album.</p></br>

	<p>If you are an artists or brand and want to partner on an experiment to showcase you next music project or showcase your brand.  

	<%= link_to 'Partnerships', '/pages/partnerships', :class => "" %>
	</p>

	<%= image_tag 'exp-image.png', :class => "how-image2" %>

	</div>
	<div class="works-top" id="works-rhyme">
	<h2>Rhyme Center</h2>
	<%= image_tag 'rhyme-image.png', :class => "how-image3" %>
	<p>Members of the community submit their favorite lines from The College Dropout.  The lyrics are voted up or down and the top lyrics will be chosen to inspire the designs.
	</br>"I wish I could buy me a spaceship</br>and fly past the sky.  Far away...”</br>- Kanye West

	</p>

	</div>
	<div class="works-top" id="works-design">
	<h2>Design Center</h2>
	<p>Creatives of the community will submit their artwork, photos, designs that are inspired by one of the top chosen lyrics.
	</br>Members rate and comment on the designs.  Top design(s) will be chosen.


	</p>

	<%= image_tag 'design-image.png', :class => "how-image2" %>

	</div>
	<div class="works-top" id="works-shop">
	<h2>Lab Shop</h2>
	

	<p>Creatives of the community will submit their artwork, photos, designs that are inspired by one of the top chosen lyrics.
	</br>Members rate and comment on the designs.  Top design(s) will be chosen.


	</p>

	<%= image_tag 'product-image.png', :class => "how-image2" %>

	</div>

	<%= render 'layouts/footer' %>
