


<div id="vid" class="works-top">
<div id="background-green" class="works-top">
	<h1>How It Works</h1>

	<div id="P2">
		<iframe width="100%" height="400" src="https://www.youtube.com/embed/rZ948let4m0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="howitworks-para">
		R&D has a unique process to create dope products inspired by the music of our community’s favorite artists. Each experiment is themed for a specific artist, music project and/or partnership. The community submits and votes on their favorite lyrics. Artists submit designs inspired by the selected lyrics. Top designs are printed and sold for artists to be promoted and paid.
	</div>
	<div class="how-box">
		<%= image_tag 'howitworks-img-1.png', :class => "how-image" %>
		Experiments inspired by your fav music and artists.
	</div>
	<div class="how-box">
   	<%= image_tag 'howitworks-img-2.png', :class => "how-image" %>
		Submit & vote on your fav lyrics from your fav artists.
		   	</div>
	<div class="how-box">
   	<%= image_tag 'howitworks-img-3.png', :class => "how-image" %>
		Submit and/or vote on designs inspired by top lyrics.
	   	</div>
	<div class="how-box">
  	<%= image_tag 'howitworks-img-4.png', :class => "how-image" %>
		Help create dope tees & products inspired by music.
	  	</div>
</div>
</div>

  <div id="P1" class="player" 
     data-property="{videoURL:'https://youtu.be/WsOZ86F1nn8',containment:'#vid',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1,showControls:false,addRaster:true,optimizeDisplay: true}">
</div>
<div class="works-top" id="works-exp">
	<h2>Experiments</h2>
	
	<p>So this is “How It Works”.  In an experiment, R&D decides on a cool theme or partners with a dope artist.  The theme can be anything like “Your Favorite Lyric from a Deceased Rapper” or “Best Lyric from Lil Wayne”.  An example of a partnership would be breaking down an independent artist’s new project or searching through their discography.</p></br>

	<p>Experiments allow you to enjoy music and explore lyrics in a new way.  Pop in an album you haven’t listened to in a while, or discover new music and artists. Become part of the creative process of turning music into merch and other dope products.  R&D provides a way for anybody to contribute their passion and showcase their talents.</p></br>

	<p>If you are an artist or brand and want to partner on an experiment to showcase your movement, join the community and hit us up.</p>

	</p>

	<%= image_tag 'exp-image.png', :class => "how-image-mobile1" %>
	<%= image_tag 'exp-image.png', :class => "how-image2" %>

	</div>
	<div class="works-top" id="works-rhyme">
	<h2>Rhyme Center</h2>
	
	<p>First phase of each experiment is deciding on the top lyrics.  Depending on the experiment’s theme, it may be music you never heard of before or something you haven’t listened to in a while.  Really listen to the words and jot down your favorite lyrics.  Listen for lyrics that inspire you, lyrics that motivate you, lyrics that make you think, lyrics that create a scene, lyrics that are witty and clever, lyrics that will inspire a design that will look dope on a tee.</p>
	<p>Submit your favorite lyrics to the experiment and get lab points, also a chance to get free gear and exclusive opportunities.  Your participation will be important in deciding the lyrics that will inspire the design phase of the experiment, so always vote on the lyrics submitted by the other community members.</p></br>  

	<p>Based on the votes and comments, the top lyrics will be decided.  The member who submits the chosen lyric will get bonus lab points and cool rewards.</p>

	<%= image_tag 'rhyme-image.png', :class => "how-image3" %>
	
	<%= image_tag 'rhyme-image.png', :class => "how-image-mobile1" %>

	</div>
	<div class="works-top" id="works-design">
	<h2>Design Center</h2>

	<p>Second phase of each experiment is deciding on the top design inspired by the chosen lyrics.  Check out the lyric and listen to the associated track, if you haven’t done so already.  Also review the rules of the experiment for guidelines to artwork and designs submitted.  Use the lyrics to inspire the artwork you create.  Grab your paintbrush, pencil or whatever tools you use and design a dope image that relates to the lyrics.  You can even grab your camera and take a dope pic that relates to the lyrics.</p>  

	<p>How do you use the lyrics to inspire your artwork?  It can be a simple illustration that puts the words into an image. (FYI: Do not use a significant portion of the lyrics in your image.)  It can be a comical or thought provoking.The image can be simplistic or complex.  Use your imagination to create something dope and keep in mind that the image will be the centerpiece in developing tees and other products.  Take your image or photo and turn it into a digital image that is ready for print.  Read over the legal terms concerning the details of submitted artwork and how to get your design print ready.</p>  
	    
	<p>Based on the votes and comments, the top designs will be chosen for print.  The member who submits the chosen design will get bonus lab points, cool rewards and royalty payments on all products sold with their design.</p>

	<%= image_tag 'design-image.png', :class => "how-image-mobile1" %>
	<%= image_tag 'design-image.png', :class => "how-image2" %>

	</div>
	<div class="works-top" id="works-shop">
	<h2>Lab Shop</h2>

	<p>Each experiment will evolve into products designed and inspired by the community’s members.  You have a direct voice in deciding and helping us create dope products inspired by music.  Each submission and vote is used to develop products that fans will love and use to express themselves for years to come.  Every product is made by the passion of the R&D community, and each product sold supports an artist and the pursuit of their passion.</p>

	<p>All products are sold at the online shop, which can be accessed by clicking on the ‘Shop’ tab of the home page or by going directly to shopRnD.com.</p>


	<%= image_tag 'product-image.png', :class => "how-image-mobile1" %>
	<%= image_tag 'product-image.png', :class => "how-image2" %>

	</div>

	<%= render 'layouts/footer' %>


	<script>
   $(function(){
      $(".player").YTPlayer();
    });
</script>
