<section class="launch-section">

<div id="launch" class="transitions-enabled">

<div class="launch-part" id="launch-box">
<%= image_tag 'launch-1.jpg', :class => "launch-img" %>


</div>

<div class="launch-part" id="launch-box-word">
<h1>Community.</h1>


</div>

<div class="launch-part" id="launch-box2">
<%= image_tag 'launch-2.jpg', :class => "launch-img" %>


</div>


	
	<div class="launch-part" id="launch-box4">
	<%= image_tag 'launch-4.jpg', :class => "launch-img" %>


	</div>

	<div class="launch-part" id="launch-box2-word">
	<h1>Passion.</h1>

	</div>

	<div class="launch-part" id="launch-box6">
<%= image_tag 'launch-6.jpg', :class => "launch-img" %>


</div>

<div class="launch-part" id="launch-box5">
<%= image_tag 'launch-5.jpg', :class => "launch-img" %>


</div>



<div class="launch-part" id="launch-box3-word">
<h1>Music.</h1>


</div>

	<div class="launch-part" id="launch-box7">
<%= image_tag 'launch-7.jpg', :class => "launch-img" %>


</div>

	<div class="launch-part" id="launch-box8">
<%= image_tag 'launch-8.jpg', :class => "launch-img" %>


</div>



<div class="launch-part" id="launch-box4-word">
<h1>Art.</h1>


</div>

	<div class="launch-part" id="launch-box3">
<%= image_tag 'launch-3.jpg', :class => "launch-img" %>


</div>





</div>
</section>