<%= simple_form_for([@campaign, @art]) do |f| %>

      <%= f.error_notification %>

  <% if can? :manage, :all %>
  <%= f.input :chosen %>
  <% end %>

    <% unless @campaign.title.nil? || @campaign.title.empty? %>
        <h1 class="exp-title-lyric"> <%= link_to @campaign.title, campaign_path(@campaign) %></h1>
        <% end %>
  <% unless @campaign.image.nil? %>
      <div class="campaign-new-img">

          <%= image_tag @campaign.image.url(:large) %>
      </div>
  <% end %>

    <% if @campaign.description.present? %>
    <p> <%= simple_format(truncate(@campaign.description, length: 200, separator: ' ')) %></p>
    <% end %>

<h2>Go to the <%= link_to 'experiment', campaign_path(@campaign) %> page to learn about what lyrics will inpsire the designs you submit.</h2>

  <% if @art.chosen == true %>
  Your artwork has been chosen!

  <% if can? :manage, :all %>

    <%= f.file_field :image, label: "Image" %>
  <%= f.input :description, label: "Tell us more" %>
  <%= f.input :typeart, label: "Type of Art" %>
 
  <%= f.input :tag_list, label: "Tags", input_html: { maxlength: 36 } %>
  <%= f.button :submit, "Submit", class: "post-button" %>


  <% end %>

  <% else %>

  <h2>Add Your Design</h2>

  <div class="form-info">
    Choose your image file that you would like to add. Original designs and artwork only.  Make sure you meet the Experiment rules and guidelines.  Your image must be in JPG format (RGB mode not CMYK), 1200 pixels wide x 1200 pixels tall.

  </div>

  <div class="imageform-box">
  <%= f.file_field :image, label: "Image" %>

  </div>
  <%= f.input :description, label: "Add more details about your design here" %>

  <%= f.input :legal, required: true, label: "I agree to the Legal Terms." %>
  <div class="form-info">
  <%= link_to "Legal Terms", pages_legal_terms_path %>
</div>

  <%= f.button :submit, "Submit", class: "post-button" %>

  <% end %>



<% end %>