<% if can? :manage, :all %>

<div class="addlyric">
 <h1>Edit Design</h1>

</div>

<%= render 'form' %>
<div class="formpage-footer">
<%= link_to 'Back', campaign_arts_path(@art.campaign), class: "back-button" %>

<%= link_to 'More Experiments', campaigns_path, class: "back-button" %>

</div>


<%= render 'layouts/footer' %>

<% else %>


<div class="launching-soon">

	 <h1 class="time-launch">5.1.15</h1>
      <p>Official Launch</p>
      <p><%= link_to "Available On Launch Date", dash_path %></p>
	<div class="how-box2">

	        <%= link_to 'How It Works', pages_how_it_works_path, :class => "" %>

        <%= link_to 'Lab Shop', '#', :class => "" %>
	        
	      </div>

	</div>

	<% end %>

