<section class="main-section">
<% if user_signed_in? %>
  <div class="header-art">
    <h1>The Design Center</h1>
    <h2><%= current_user.name %></h2>
    <p>Help us vote on our community designs.  Or contribute your own.  <br /><%= link_to "Submit Design", '/campaigns/2/arts/new' %></p>

  </div>  
<% else %>
  <div class="header-art">
     <h1>The Design Center</h1>
    <h2><%= link_to "Join To Contribute", new_user_registration_path %></h2>
    <p>Help us vote on our community designs.  Or contribute your own.  <br /><%= link_to "Submit Design", '/campaigns/2' %></p>
  </div>  
<% end %>

<div class="tagcloud">
         <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
           
            <%= link_to tag.name, campaign_filter_url(:tag => tag.name), :class => css_class %>
         
        <% end %>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'arts', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'arts', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'arts', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

<section class="art-section">


<div id="arts" class="transitions-enabled">
    
      <% @arts.each do |art| %>
        <div class="container-art">
     
         <div class="container-art2">
          <%= link_to campaign_art_path(@campaign, art) do %>
            <%= image_tag art.image.url(:small) %>
          <% end %>

        </div>

        <div class="container-extra">
           <ul>
      <li>
        <h2><span class="timer-line" data-countdown= <%= art.campaign.timer2 %>></span></h2>
          
        <h2><%= art.get_upvotes.size %> Votes</h2>

        <% if can? :manage, :all %>
            <% if art.get_upvotes.size == 0 %>
            <h2>No votes yet</h2>
            <% else %>
            <h2><%= art.get_upvotes.sum(:vote_weight) / art.get_upvotes.size %> / 5</h2>
            <% end %>
        <% end %>

          <%= link_to voteof1_art_path(art), method: :put do %>
            <h2>1</h2>
              <% end %>
              <%= link_to voteof2_art_path(art), method: :put do %>
            <h2>2</h2>
              <% end %>
              <%= link_to voteof3_art_path(art), method: :put do %>
            <h2>3</h2>
              <% end %>
              <%= link_to voteof4_art_path(art), method: :put do %>
            <h2>4</h2>
              <% end %>
              <%= link_to voteof5_art_path(art), method: :put do %>
            <h2>5</h2>
              <% end %>

      </li>
    </ul>

    

         <ul>
              <li><%= art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
              <li>
                  Add Rating Count 
              </li>

            <li><%= art.commentarts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
              <li><a class="popoverExampleTwo" data-placement="auto left" data-trigger="click" return false;><%= image_tag art.user.avatar.url(:mini) %></a><%= link_to art.user.username, profile_url(:id => art.user.username) %></li>

                          <!-- Popover 2 hidden content -->
                          <div class="popoverExampleTwoHiddenContent" style="display: none">
                             <div>
                              <%= image_tag art.user.avatar.url(:thumb) %>
                                  <%= link_to art.user.username, profile_url(:id => art.user.username) %>
                                  
                                  </br>
                                  <div class="following-show">
                                    <p><%= art.user.follow_count %> Following  | 
                                    <%= art.user.followers_count %> Followers</p>
                                    <% if user_signed_in? %>
                                      <% if current_user == art.user %>
                                        <p></p>
                                      <% elsif  art.user.all_following.include?(current_user) %>
                                        <%= link_to "Unfollow", unfollow_profile_path(art.user.username) %>
                                      <% else %>
                                        <%= link_to "Follow", follow_profile_path(art.user.username) %>
                                      <% end %>
                                    <% else %>
                                      <p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
                                    <% end %>
                                  </div>
                                  <hr>
                                  <div class="points-show">
                                    Points | <%= art.user.points %>
                                  </div>


                             </div>
                          </div>  
                          <!-- Popover 2 hidden title -->
                          <div class="popoverExampleTwoHiddenTitle" style="display: none">
                             
                          </div> 

          </ul>
          <br />

      </div>
      </div>
      <% end %>

       <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i> Back to Top</a></div> 
</div>

 <br>
    <div class="center">
      <%= will_paginate @arts, renderer: BootstrapPagination::Rails %>
    </div>

        
    <br>
    <div class="art-footer">
      <%= link_to 'New Design', new_campaign_art_path %>
    </div>

  </section>
</section>

<%= image_tag 'lyric-background3.png', :class => "background-lyric" %>


<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });
});

</script>

  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min';  
      if (event.offset.days < 1) {
          $this.closest('.price-info').addClass('red-status');
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format2;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format2;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>

<script>
// fade in #back-top
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 300) {
            $('.back-top').fadeIn();
        } else {
            $('.back-top').fadeOut();
        }
    });

    // scroll body to 0px on click
    $('.back-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>
