<section class="main-section">

<section class="art-section">

  <div class="works-top" id="works-exp2">
  <div class="how-campaign">
  <h2>Design Center</h2>
  <p>The community chooses their favorite lyrics to inspire designs. The community then chooses their favorite designs to develop tees and products for the shop.</p>

  </div>

  <%= image_tag 'design-image.png', :class => "how-image2" %>

  <div class="how-box2">
    <%= link_to 'How It Works', pages_how_it_works_path, :class => "" %>

  <%= link_to 'Lab Shop', '#', :class => "" %>

  <%= link_to 'Submit Design', new_campaign_art_path(Campaign.last), :class => "" %>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'arts', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'arts', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'arts', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

  </div>

    <div class="how-box2-mobile">
          <%= link_to pages_how_it_works_path do %>
      <i class="fa fa-paper-plane"></i>
    <% end %>

    <%= link_to '#' do %>
      <i class="fa fa-flask"></i>
    <% end %>

    <%= link_to new_campaign_art_path(Campaign.last) do %>
      <i class="fa fa-paint-brush"></i>
    <% end %>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon glyphicon-sort" aria-hidden="true"></span>

        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Most Liked', :controller => 'arts', :sort_by => 'most_liked' %></li>
        <li role="presentation"><%= link_to 'Most Viewed', :controller => 'arts', :sort_by => 'most_viewed' %></li>
        <li role="presentation"><%= link_to 'Most Recent', :controller => 'arts', :sort_by => 'most_recent' %></li>
      </ul>
    </div>

  </div>


  </div>


<div id="arts" class="transitions-enabled">
    
      <% @arts.each do |art| %>
        <div class="container-art">
        
      <% if user_signed_in? && (@current_user.voted_for? art) %>

           <div class="container-small">
          <%= link_to campaign_art_path(@campaign, art) do %>
            <% unless art.image.nil? %>
              <%= image_tag art.image.url(:large) %>
              <% end %>
          <% end %>

        </div>

        <% else %>
          
          <div class="container-art2 <%= art.id %>">
          <%= link_to campaign_art_path(@campaign, art) do %>
            <% unless art.image.nil? %>
              <%= image_tag art.image.url(:large) %>
              <% end %>
          <% end %>

        </div>
     
        <% end %>

            <div class="container-extra">
              <ul>
                  <li><%= art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>

                <li><%= art.commentarts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>

                <li><span class="up <%= art.id %>"><%= art.get_upvotes.size %></span> <strong>Votes</strong></li>
              
                    <li><% unless art.campaign.timer2.nil? || art.campaign.timer2.empty? %>
                      <strong><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Left</strong> | 
                  <span class="timer-line" data-countdown= <%= art.campaign.timer2 %>></span>
                <% end %></li>

              </ul>

              <% if art.campaign.title.present? %>
            <ul>
              <li><strong>Designed By:</strong>  
                <% if art.user.avatar.present? %>
                <%= image_tag art.user.avatar.url(:mini) %>
                <% end %> 
                <% if art.user.username.present? %>
                <%= link_to art.user.username, profile_url(:id => art.user.username) %>
                <% end %></li>
              <li><strong>Experiment</strong> |  <%= link_to art.campaign.title, campaign_url(art.campaign) %> </li>
            </ul>
            <% end %>
        <ul>
          <li>
              <% if user_signed_in? && (@current_user.voted_for? art) %>
              <ul class="votebox2">
                <li><div class="vote-confirmed">Thanks for Voting!</div></li>
              </ul>

            <% else %>
              <% if user_signed_in? %>
                <ul class="votebox2">
                  <li><div class="vote-confirmed <%= art.id %>">Vote</div></li>
                </ul>
              <% else %>
                <ul class="votebox2">
                  <li><%= link_to 'Sign In To Vote', new_user_registration_path, class: "vote-confirmed" %> </li>
                </ul>
              <% end %>

              
              <ul class="vote-column <%= art.id %>">
                   <%= link_to voteof5_art_path(art), class: ['voteup', art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  5
                </div></li>
                  <% end %>
                  <%= link_to voteof4_art_path(art), class: ['voteup', art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  4
                </div></li>
                  <% end %>
                  <%= link_to voteof3_art_path(art), class: ['voteup', art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  3
                </div></li>
                  <% end %>
                    <%= link_to voteof2_art_path(art), class: ['voteup', art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  2
                </div></li>
                  <% end %>
                  <%= link_to voteof1_art_path(art), class: ['voteup', art.id], remote: true, data: { type: :json }, method: :put do %>
                
                <li><div class="vote-button">
                  1
                </div></li>
                  <% end %>
                  
               
                </ul>
              <% end %>

          </li>

            <script>

              $('.voteup' + '.<%= art.id %>')
            .on('ajax:success', function (e, data, status, xhr) { 
              $('.up' + '.<%= art.id %>').html(data.count);
              $('.vote-confirmed' + '.<%= art.id %>').html('Thanks for Voting!');
              $('.vote-column' + '.<%= art.id %>').addClass('hidden');
              $('.container-art2' + '.<%= art.id %>').addClass('container-small2')
            });

            </script>

              <script type="text/javascript">
                  $('[data-countdown]').each(function() {
                    var $this = $(this), finalDate = $(this).data('countdown');
                  
                  $this.countdown(finalDate)

                  .on('update.countdown', function(event) {
                    var format = '%-H hr %-M min %-S sec';
                    var format2 = '%-H hr %-M min';  
                    var format3 = '%D days';
                    if (event.offset.days < 1) {
                        $this.closest('.price-info').addClass('red-status');
                    }   
                    if(event.offset.days > 0) {
                      format3;
                    }
                 
                  
                   $(this).html(event.strftime(format));
                 })
                 .on('finish.countdown', function(event) {
                   $(this).html('Closed for Submissions');
                   $('.vote-column' + '.<%= art.id %>').addClass('hidden');
                  $('.vote-column' + '.<%= art.id %>').addClass('disabled').attr('disabled', 'disabled');
                    });
                  
                  });
              </script>




          <div class="clear"></div>
          <li>
                  <% if can? :manage, :all %>
                <% if art.get_upvotes.size == 0 %>
                <h2><span class="adminonly">No votes yet</span></h2>
                <% else %>
                <h2><span class="adminonly"><%= art.get_upvotes.sum(:vote_weight) / art.get_upvotes.size %> / 5</span></h2>
                <% end %>
            <% end %>
          </li>
        </ul>
            <ul>
            </ul>
          </div>

      </div>
      <% end %>

       <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i></a></div> 
</div>

 <br>
    <div class="center">
      <%= will_paginate @arts, renderer: BootstrapPagination::Rails %>
    </div>

    <%= render 'layouts/footer' %>


  </section>

<section class="home-info">


  <div class="results"></div>
    

</section>




</section>


<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });
});

</script>



<script>
// fade in #back-top
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 300) {
            $('.back-top').fadeIn();
        } else {
            $('.back-top').fadeOut();
        }
    });

    // scroll body to 0px on click
    $('.back-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.art-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

