
<% if @campaign.timer2.nil? || @campaign.timer2.empty? %>

	<div class="closedform">
	<div class="addlyric">
		<h1>Design Submissions Not Open Yet.</h1>

	<p>Design submissions is not open yet for <span class="exp-closed"><%= link_to @campaign.title, @campaign %></span> experiment.  Will be available soon, check back later.

		Check out our other experiments</p>

		</div>

		
			<div class="formpage-footer">
			<%= link_to 'Back', campaign_path(@campaign), class: "back-button" %>

			<%= link_to 'More Experiments', campaigns_path, class: "back-button" %>

			</div>
	</div>

	<% elsif @campaign.timer2 < Time.now %>

		<div class="closedform">
		<div class="addlyric">

			<h1>Design Submissions Closed.</h1>

			<p>Design submissions is closed for <span class="exp-closed"><%= link_to @campaign.title, @campaign %></span> experiment.  Sorry you missed it.

				Check out our other experiments.</p>

		</div>

			<div class="formpage-footer">
			<%= link_to 'Back', campaign_path(@campaign), class: "back-button" %>

			<%= link_to 'More Experiments', campaigns_path, class: "back-button" %>

			</div>
		</div>




	<% else %>


		<div class="addlyric">
		 <h1>Submit Design To Experiment</h1>

		</div>

		<%= render 'form' %>

		<div class="formpage-footer">
		<%= link_to 'Back', campaign_path(@campaign), class: "back-button" %>

		<%= link_to 'More Experiments', campaigns_path, class: "back-button" %>

		</div>

	<% end %>


	<%= render 'layouts/footer' %>

