
<div class="container-show">
	<div class="container-line">
		
		
	<h2 class="rating_count"><%= pluralize(@art.ratings.count, "Vote") %></h2>

	Avg Score: <div class="star-rating" data-score= <%= @avg_rating %> ></div>

	<hr>
	<% if user_signed_in? %>

		<% if @current_ratings.empty? || @current_ratings.nil? %>
		
			<%= render 'ratings/form' %>
		<% else %>

			<% @current_ratings.each do | current_rating| %>
			Voted: <div class="star-rating" data-score= <%= current_rating.rate %> ></div>
			<% end %>

			
		<% end %>
	<% else %>
		<%= render 'ratings/form' %>
	<% end %>


	<%= image_tag @art.image.url(:medium) %>
	</div>
	<% unless @art.description.nil? || @art.description.empty? %>
	<div class="container-desc">
		<%= simple_format(@art.description) %>
	</div>
	<% end %>
	<div class="postedby">Posted By: <%= image_tag @art.user.avatar.url(:mini) %>  <%= link_to @art.user.username, profile_url(:id => @art.user.username) %></div>
		
	<div class="container-comment">
	<h2 class="comment_count">
		<%= pluralize(@art.commentarts.count, "Response") %></h2>
		<hr />
		<% @commentarts.each do |commentart| %>
			<div class="comment">
				<%= image_tag commentart.user.avatar.url(:mini) %>
				<p class="username"> <%= commentart.user.username %></p></br>
				<p class="content"> <%= commentart.content %></p>
				<p class="time-created"><%= time_ago_in_words(commentart.created_at) %></p>
				<hr />
			</div>
		<% end %>
	<%= render 'commentarts/form' %>
</div>
</div>


<div class="container-more">
	<ul>
		<li><%= @art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
		<li><hr /></li>
		<% unless @art.tags.nil? || @art.tags.empty? %>
		<li><hr /></li>
		<li>
  			<% @art.tags.each do |tag| %>
  				<%= link_to tag.name, tagged_url(:tag => tag.name) %>
  			<% end %>
			</li>
		<% end %>
		<li><hr /></li>
		<li><strong>Artist: </strong><%= @art.artist %></li>
		<li><hr /></li>
		<li><strong>Song: </strong><%= @art.typeart %></li>
		<li><hr /></li>
		<li><%= link_to 'More', @art.link %></li>
		<li><hr /></li>
		<li><% if can? :update, @art %>
		<%= link_to 'Edit', edit_campaign_art_path(@art.campaign, @art) %> | 
		<% end %>
		<% if can? :destroy, @art %>
		<%= link_to 'Destroy', [@art.campaign, @art], method: :delete, data: {confirm: "Are you sure?" } %>
		<% end %></li>
		<li>	
			<div class="container-profile">
				<%= image_tag @art.user.avatar.url(:thumb) %>
					<%= link_to @art.user.username, profile_url(:id => @art.user.username) %>
					
					</br>
					<div class="following-show">
						<p><%= @art.user.follow_count %> Following  | 
						<%= @art.user.followers_count %> Followers</p>
						<% if user_signed_in? %>
							<% if current_user == @art.user %>
								<p></p>
							<% elsif  @art.user.all_following.include?(current_user) %>
								<%= link_to "Unfollow", unfollow_profile_path(@art.user.username) %>
							<% else %>
								<%= link_to "Follow", follow_profile_path(@art.user.username) %>
							<% end %>
						<% else %>
							<p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
						<% end %>
					</div>
					<hr>
					<div class="points-show">
						Points | <%= @art.user.points %>
					</div>
					<div class="badge-show">
						Badges:</br>
						<% @art.user.badges.each do |badge| %>
				  			<%= badge.name %>
						<% end %>
					</div>
					
			</div></li>
	</ul>
	</div>


	<div id="random_post">
		<h3> More Designs </h3>
		<div class="container-show2">
			<%= link_to campaign_art_path(@campaign, @random_art) do %>
				<%= image_tag @random_art.image.url(:small) %>
			<% end %>
			<%= @random_art.user.username %>
		</div>
	</div>

			
	</div>	

<div class="back-footer">
	<%= link_to 'Add Design', new_campaign_art_path(@campaign) %>
	<%= link_to 'Design Center', campaign_arts_path %>
</div>


<script>
$('.star-rating').raty({
	path: '/assets/',
	readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
