<% if user_signed_in? && current_user.points > 69 %>

<section class="art-section">
  <div class="stepbackward">
      <%= link_to campaign_art_path(@campaign, @previous_art) do %>
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
      <% end %>
    </div>
    <div class="stepforward">
      <%= link_to campaign_art_path(@campaign, @next_art) do %>
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
      <% end %>
    </div>


  <div class="container-show2">


  <div class="container-art2">
      <% unless @art.image.nil? %>
      <%= image_tag @art.image.url(:large) %>
      <% end %>
  </div>
          <div class="container-extra">
          <ul>
              <li><%= @art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>

            <li><%= @art.commentarts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>

            <li><span class="up <%= @art.id %>"><%= @art.get_upvotes.size %></span> <strong>Votes</strong></li>
          
                <li><% unless @art.campaign.timer2.nil? || @art.campaign.timer2.empty? %>
                  <strong><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Left</strong> | 
              <span class="timer-line" data-countdown= <%= @art.campaign.timer2 %>></span>
            <% end %></li>

          </ul>

          <% if @art.campaign.title.present? %>
        <ul>
          <li><strong>Designed By:</strong>  
            <% if @art.user.avatar.present? %>
            <%= image_tag @art.user.avatar.url(:mini) %>
            <% end %> 
            <% if @art.user.username.present? %>
            <%= link_to @art.user.username, profile_url(:id => @art.user.username) %>
            <% end %></li>
          <li><strong>Experiment</strong> |  <%= link_to @art.campaign.title, campaign_url(@art.campaign) %> </li>
        </ul>
        <% end %>
    <ul>
      <li>

        <% if user_signed_in? && (@current_user.voted_for? @art) %>
            <ul class="votebox2">
            <li><div class="vote-confirmed">Thanks for Voting!</div></li>
          </ul>
          <% else %>

             <% if user_signed_in? %>
                <ul class="votebox2">
                  <li><div class="vote-confirmed <%= @art.id %>">Vote</div></li>
                </ul>
              <% else %>
                <ul class="votebox2">
                  <li><%= link_to 'Sign In To Vote', new_user_registration_path, class: "vote-confirmed" %> </li>
                </ul>
              <% end %>

          
          <ul class="vote-column <%= @art.id %>">
              
               <%= link_to voteof5_art_path(@art), class: ['voteup', @art.id], remote: true, data: { type: :json }, method: :put do %>
            <li><div class="vote-button">
              5
            </div></li>
              <% end %>
              <%= link_to voteof4_art_path(@art), class: ['voteup', @art.id], remote: true, data: { type: :json }, method: :put do %>
            <li><div class="vote-button">
              4
            </div></li>
              <% end %>
              <%= link_to voteof3_art_path(@art), class: ['voteup', @art.id], remote: true, data: { type: :json }, method: :put do %>
            <li><div class="vote-button">
              3
            </div></li>
              <% end %>
                <%= link_to voteof2_art_path(@art), class: ['voteup', @art.id], remote: true, data: { type: :json }, method: :put do %>
            <li><div class="vote-button">
              2
            </div></li>
              <% end %>
              <%= link_to voteof1_art_path(@art), class: ['voteup', @art.id], remote: true, data: { type: :json }, method: :put do %>
            
            <li><div class="vote-button">
              1
            </div></li>
              <% end %>
              
           
            </ul>
         <% end %>   

      </li>
    <div class="clear"></div>
      <li>
              <% if can? :manage, :all %>
            <% if @art.get_upvotes.size == 0 %>
            <h2><span class="adminonly">No votes yet</span></h2>
            <% else %>
            <h2><span class="adminonly"><%= @art.get_upvotes.sum(:vote_weight) / @art.get_upvotes.size %> / 5</span></h2>
            <% end %>
        <% end %>
      </li>
    </ul>
        <ul>
            <li><% if can? :update, @art %>
    <%= link_to 'Edit', edit_campaign_art_path(@art.campaign, @art) %> | 
    <% end %>
    <% if can? :destroy, @art %>
    <%= link_to 'Destroy', [@art.campaign, @art], method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %></li>

        </ul>
      </div>

      <div class="clear"></div>

      <% unless @art.description.nil? || @art.description.empty? %>
      <div class="container-desc">
        <%= simple_format(@art.description) %>
      </div>
      <% end %>
        
      <div class="container-comment">
      <h2 class="comment_count">
        <%= pluralize(@art.commentarts.count, "Response") %></h2>
        <hr />

         <div id="comments">
         <%= render @art.commentarts %>
       </div>

      <%= render 'commentarts/form' %>
    </div>


  </div> 


<div id="arts" class="transitions-enabled">
    
      <% @random_arts.each do |random_art| %>
        <div class="container-art">
     
         <div class="container-art2">
          <%= link_to campaign_art_path(@campaign, random_art) do %>
            <% unless random_art.image.nil? %>
              <%= image_tag random_art.image.url(:large) %>
              <% end %>
          <% end %>

        </div>

            <div class="container-extra">
              <ul>
                  <li><%= random_art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>

                <li><%= random_art.commentarts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>

                <li><%= random_art.get_upvotes.size %> <strong>Votes</strong></li>
              
                    <li><% unless random_art.campaign.timer2.nil? || random_art.campaign.timer2.empty? %>
                      <strong><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Left</strong> | 
                  <span class="timer-line" data-countdown= <%= random_art.campaign.timer2 %>></span>
                <% end %></li>

              </ul>

              <% if random_art.campaign.title.present? %>
            <ul>
              <li><strong>Designed By:</strong>  
                <% if random_art.user.avatar.present? %>
                <%= image_tag random_art.user.avatar.url(:mini) %>
                <% end %> 
                <% if random_art.user.username.present? %>
                <%= link_to random_art.user.username, profile_url(:id => random_art.user.username) %>
                <% end %></li>
              <li><strong>Experiment</strong> |  <%= link_to random_art.campaign.title, campaign_url(random_art.campaign) %> </li>
            </ul>
            <% end %>
        <ul>
            <li>
             <% if user_signed_in? && (@current_user.voted_for? random_art) %>
              <ul class="votebox2">
              <li><div class="vote-confirmed">Thanks for Voting!</div></li>
            </ul>
            <% else %>

              <% if user_signed_in? %>
                <ul class="votebox2">
                  <li><div class="vote-confirmed <%= random_art.id %>">Vote</div></li>
                </ul>
              <% else %>
                <ul class="votebox2">
                  <li><%= link_to 'Sign In To Vote', new_user_registration_path, class: "vote-confirmed" %> </li>
                </ul>
              <% end %>
              
              <ul class="vote-column <%= random_art.id %>">
                   <%= link_to voteof5_art_path(random_art), class: ['voteup', random_art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  5
                </div></li>
                  <% end %>
                  <%= link_to voteof4_art_path(random_art), class: ['voteup', random_art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  4
                </div></li>
                  <% end %>
                  <%= link_to voteof3_art_path(random_art), class: ['voteup', random_art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  3
                </div></li>
                  <% end %>
                    <%= link_to voteof2_art_path(random_art), class: ['voteup', random_art.id], remote: true, data: { type: :json }, method: :put do %>
                <li><div class="vote-button">
                  2
                </div></li>
                  <% end %>
                  <%= link_to voteof1_art_path(random_art), class: ['voteup', random_art.id], remote: true, data: { type: :json }, method: :put do %>
                
                <li><div class="vote-button">
                  1
                </div></li>
                  <% end %>
                  
               
                </ul>
              <% end %>

          </li>

            <script>

              $('.voteup' + '.<%= random_art.id %>')
            .on('ajax:success', function (e, data, status, xhr) { 
              $('.up' + '.<%= random_art.id %>').html(data.count);
              $('.vote-confirmed' + '.<%= random_art.id %>').html('Thanks for Voting!');
              $('.vote-column' + '.<%= random_art.id %>').addClass('hidden');
            });

            </script>

            <div class="clear"></div>
          <li>
                  <% if can? :manage, :all %>
                <% if random_art.get_upvotes.size == 0 %>
                <h2><span class="adminonly">No votes yet</span></h2>
                <% else %>
                <h2><span class="adminonly"><%= random_art.get_upvotes.sum(:vote_weight) / random_art.get_upvotes.size %> / 5</span></h2>
                <% end %>
            <% end %>
          </li>
        </ul>
            <ul>
            </ul>
          </div>

      </div>
      <% end %>

       <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i> Back to Top</a></div> 
</div>   

<%= render 'layouts/footer' %>
 

  </section>

<% else %>

  <section class="art-section">

  </section>

<% end %>

  <section class="home-info">


  <div class="results"></div>
    

</section>


<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });

     // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleThree").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleThreeHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleThreeHiddenTitle').html();
        }
    });

});

</script>

  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min';  
      if (event.offset.days < 1) {
        format;
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format2;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format2;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
     $('.vote-column' + '.<%= @art.id %>').addClass('hidden');
    $('.vote-column' + '.<%= @art.id %>').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>

  <script>

      $('.voteup' + '.<%= @art.id %>')
    .on('ajax:success', function (e, data, status, xhr) { 
      $('.up' + '.<%= @art.id %>').html(data.count);
      $('.vote-confirmed' + '.<%= @art.id %>').html('Thanks for Voting!');
      $('.vote-column' + '.<%= @art.id %>').addClass('hidden');
    });

    </script>

    <script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.art-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>