<div class="stepbackward">
			<%= link_to campaign_art_path(@campaign, @previous_art) do %>
				<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
			<% end %>
		</div>
		<div class="stepforward">
			<%= link_to campaign_art_path(@campaign, @next_art) do %>
				<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
			<% end %>
		</div>


<div class="container-show">


	<div class="container-art2">

			<%= image_tag @art.image.url(:medium) %>
	</div>

	<div class="container-extra">
    <ul>
      <li>
        <h2><span class="timer-line" data-countdown= <%= @art.campaign.timer2 %>></span></h2>
          
        <h2><%= @art.get_upvotes.size %> Votes</h2>
           <% if @art.get_upvotes.size == 0 %>
        <h2>No votes yet</h2>
        <% else %>
        <h2><%= @art.get_upvotes.sum(:vote_weight) / @art.get_upvotes.size %> / 5</h2>
        <% end %>

          <h2><span class="up">0 </span></h2>

          <% if @current_user.voted_for? @art %>
              Yes sir
              <% else %>
              No sir
              <% end %>



          <% if @current_user.voted_for? @art %>
            <div class="votebox2">
            You already voted
          </div>
          <% else %>

          <div class="votebox2">
            <div>

          <div class="votebox">
            <%= link_to voteof1_art_path(@art), class: 'voteup', remote: true, data: { type: :json }, method: :put do %>
            <h2>1</h2>
              <% end %>
              <%= link_to voteof2_art_path(@art), class: 'voteup', remote: true, data: { type: :json }, method: :put do %>
            <h2>2</h2>
              <% end %>
              <%= link_to voteof3_art_path(@art), class: 'voteup', remote: true, data: { type: :json }, method: :put do %>
            <h2>3</h2>
              <% end %>
              <%= link_to voteof4_art_path(@art), class: 'voteup', remote: true, data: { type: :json }, method: :put do %>
            <h2>4</h2>
              <% end %>
              <%= link_to voteof5_art_path(@art), class: 'voteup', remote: true, data: { type: :json }, method: :put do %>
            <h2>5</h2>
              <% end %>
            </div>

          <% end %>

      </li>
    </ul>
	 <ul>
        <li><%= @art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        <li><%= @art.commentarts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
     </ul>
    
	

		   <ul>

        	<li>Posted By: <a class="popoverExampleTwo" data-placement="auto left" data-trigger="click" return false;><%= image_tag @art.user.avatar.url(:mini) %></a><%= link_to @art.user.username, profile_url(:id => @art.user.username) %></li>
        	
        </ul>
        <ul>
        	<li><strong>Experiment</strong> |  <a id="popoverExampleThree" data-placement="auto left" data-trigger="click"><%= @art.campaign.title %> </a></li>
        </ul>


  <!-- Popover 2 hidden content -->
  <div class="popoverExampleTwoHiddenContent" style="display: none">
     <div>
     	<%= image_tag @art.user.avatar.url(:thumb) %>
					<%= link_to @art.user.username, profile_url(:id => @art.user.username) %>
					
					</br>
					<div class="following-show">
						<p><%= @art.user.follow_count %> Following  | 
						<%= @art.user.followers_count %> Followers</p>
						<% if user_signed_in? %>
							<% if current_user == @art.user %>
								<p></p>
							<% elsif  @art.user.all_following.include?(current_user) %>
								<%= link_to "Unfollow", unfollow_profile_path(@art.user.username) %>
							<% else %>
								<%= link_to "Follow", follow_profile_path(@art.user.username) %>
							<% end %>
						<% else %>
							<p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
						<% end %>
					</div>
					<hr>
					<div class="points-show">
						Points | <%= @art.user.points %>
					</div>


     </div>
  </div>  
  <!-- Popover 2 hidden title -->
  <div class="popoverExampleTwoHiddenTitle" style="display: none">
     
  </div> 

    <!-- Popover 2 hidden content -->
  <div class="popoverExampleThreeHiddenContent" style="display: none">
     <div>
  


     </div>
  </div>  
  <!-- Popover 2 hidden title -->
  <div class="popoverExampleThreeHiddenTitle" style="display: none">
     
  </div> 

 
        <div class="artist-info">
		    <ul>
		        <li><strong>Type of Art: </strong><%= @art.typeart %></li>
			
				<li>| <%= link_to 'More Info', @art.link %></li>

			</ul>

        </div>

        <ul>
        		<li><% if can? :update, @art %>
		<%= link_to 'Edit', edit_campaign_art_path(@art.campaign, @art) %> | 
		<% end %>
		<% if can? :destroy, @art %>
		<%= link_to 'Destroy', [@art.campaign, @art], method: :delete, data: {confirm: "Are you sure?" } %>
		<% end %></li>

        </ul>
    </div>



	<% unless @art.description.nil? || @art.description.empty? %>
	<div class="container-desc">
		<%= simple_format(@art.description) %>
	</div>
	<% end %>
		
	<div class="container-comment">
	<h2 class="comment_count">
		<%= pluralize(@art.commentarts.count, "Response") %></h2>
		<hr />

     <div id="comments">
     <%= render @art.commentarts %>
   </div>

	<%= render 'commentarts/form' %>
</div>
</div>

<section class="art-section">

<div id="arts" class="transitions-enabled">
    
      <% @random_arts.each do |random_art| %>
        <div class="container-art">
     
         <div class="container-art2">
          <%= link_to campaign_art_path(@campaign, random_art) do %>
            <%= image_tag random_art.image.url(:small) %>
          <% end %>
        </div>


        <div class="container-extra">
      <ul>
      <li>
        <h2><span class="timer-line" data-countdown= <%= random_art.campaign.timer2 %>></span></h2>
          
        <h2><%= random_art.get_upvotes.size %> Votes</h2>

        <% if random_art.get_upvotes.size == 0 %>
        <h2>No votes yet</h2>
        <% else %>
        <h2><%= random_art.get_upvotes.sum(:vote_weight) / random_art.get_upvotes.size %> / 5</h2>
        <% end %>

          <%= link_to voteof1_art_path(random_art), method: :put do %>
            <h2>1</h2>
              <% end %>
              <%= link_to voteof2_art_path(random_art), method: :put do %>
            <h2>2</h2>
              <% end %>
              <%= link_to voteof3_art_path(random_art), method: :put do %>
            <h2>3</h2>
              <% end %>
              <%= link_to voteof4_art_path(random_art), method: :put do %>
            <h2>4</h2>
              <% end %>
              <%= link_to voteof5_art_path(random_art), method: :put do %>
            <h2>5</h2>
              <% end %>

      </li>
    </ul>

    

         <ul>
              <li><%= random_art.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
              <li>
                  Add Rating Count 
              </li>

            <li><%= random_art.commentarts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
              <li><a class="popoverExampleTwo" data-placement="auto left" data-trigger="click" return false;><%= image_tag random_art.user.avatar.url(:mini) %></a><%= link_to random_art.user.username, profile_url(:id => random_art.user.username) %></li>

                          <!-- Popover 2 hidden content -->
                          <div class="popoverExampleTwoHiddenContent" style="display: none">
                             <div>
                              <%= image_tag random_art.user.avatar.url(:thumb) %>
                                  <%= link_to random_art.user.username, profile_url(:id => random_art.user.username) %>
                                  
                                  </br>
                                  <div class="following-show">
                                    <p><%= random_art.user.follow_count %> Following  | 
                                    <%= random_art.user.followers_count %> Followers</p>
                                    <% if user_signed_in? %>
                                      <% if current_user == random_art.user %>
                                        <p></p>
                                      <% elsif  random_art.user.all_following.include?(current_user) %>
                                        <%= link_to "Unfollow", unfollow_profile_path(random_art.user.username) %>
                                      <% else %>
                                        <%= link_to "Follow", follow_profile_path(random_art.user.username) %>
                                      <% end %>
                                    <% else %>
                                      <p><%= link_to "Sign Up To Follow", new_user_registration_path %></p>
                                    <% end %>
                                  </div>
                                  <hr>
                                  <div class="points-show">
                                    Points | <%= random_art.user.points %>
                                  </div>


                             </div>
                          </div>  
                          <!-- Popover 2 hidden title -->
                          <div class="popoverExampleTwoHiddenTitle" style="display: none">
                             
                          </div> 

          </ul>
          <br />
      </div>   
      </div>
      <% end %>
</div>

        
    <br>
    <div class="art-footer">
      <%= link_to 'New Design', new_campaign_art_path %>
    </div>

  </section>




<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });

     // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleThree").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleThreeHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleThreeHiddenTitle').html();
        }
    });

});

</script>

  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min';  
      if (event.offset.days < 1) {
          $this.closest('.price-info').addClass('red-status');
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format2;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format2;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>

  <script>

      $('.voteup')
    .on('ajax:success', function (e, data, status, xhr) { 
      $('.up').html(data.count);
      $('.votebox2').html('You already voted');
      $('.votebox').addClass('hidden');
    });

    </script>