	<div class="comment">
		<% unless commentpost.user.avatar.nil? %>
		<%= image_tag commentpost.user.avatar.url(:mini) %>
		<% end %>
		<% unless commentpost.user.username.nil? || commentpost.user.username.empty? %>
		<p class="username"> <%= commentpost.user.username %></p></br>
		<% end %>
		<% unless commentpost.content.nil? || commentpost.content.empty? %>
			<p class="content"> <%= commentpost.content %></p>	
			<% end %>		
			<p class="time-created"><%= time_ago_in_words(commentpost.created_at) %>
				<% if can? :destroy, commentpost %>
				<%= link_to post_commentpost_path(@post, commentpost), class: "delete-link", method: :delete,  data: { confirm: 'Are you sure?' } do %>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

				<% end %>
				<% end %>

			</p>
				<hr />
	</div>