<div class="home-section">

   <%= image_tag 'rnd-join-info1.png', :class => "info-image" %>
   <%= link_to "/campaigns/" do %>
   <%= image_tag 'rnd-lab-info2.png', :class => "info-image" %>
   <% end %>
    <%= link_to "/campaigns/2/lyrics" do %>
   <%= image_tag 'rnd-rhyme-info4.png', :class => "info-image" %>
   <% end %>
    <%= link_to "/campaigns/2/arts" do %>
   <%= image_tag 'rnd-design-info3.png', :class => "info-image" %>
   <% end %>
    <%= link_to "http://shop.rhymesanddesigns.com/" do %>
  <%= image_tag 'rnd-products-info5.png', :class => "info-image" %>
  <% end %>


</div>