<div class="home-section">

   <%= image_tag 'rnd-join-info1.png', :class => "info-image" %>
   <%= image_tag 'rnd-lab-info2.png', :class => "info-image" %>
   <%= image_tag 'rnd-rhyme-info4.png', :class => "info-image" %>
   <%= image_tag 'rnd-design-info3.png', :class => "info-image" %>
  <%= image_tag 'rnd-products-info5.png', :class => "info-image" %>


</div>