<%= simple_form_for @post do |f| %>

<% if can? :manage, :all %>
  <span class="adminonly"><%= f.input :approve %></span>
  <% end %>


<% if @post.approve == true %>
  <div class="approved-box">Your post has been approved!</div>

<% if can? :manage, :all %>
  <%= f.input :title %>
  <%= f.invisible_captcha :subtitle %>
  <%= f.input :image %>
  <%= f.input :description %>
  <%= f.input :link %>
  <%= f.collection_select :typeof, Post::TYPEOFS, :to_s, :humanize, {}, {:onchange => 'displayQuestion(this.value)'} %>




  <div id="audioQuestion" style="display:none;"><br/>
    <%= f.input :audiolink %>
 
  </div>

  <div id="videoQuestion" style="display:block;"><br/>
    <%= f.input :videolink %>
  </div>

    <div id="pictureQuestion" style="display:none;"><br/>
    <%= f.input :image %>
  </div>
  
  <%= f.input :tag_list, label: "Tags", input_html: { maxlength: 36 } %>




  <%= f.button :submit, "Submit", class: "post-button" %>
  <% end %>

<% else %>

  <div class="form-info">Submit a post on a creative project or creative initiatives happening in your community.</div>
	<%= f.input :title, required: true, autofocus: true %>

	<%= f.input :description %>
	<%= f.input :link, label: "Link to More Info", hint: "Format: http://www.rhymesanddesigns.com" %>

  <h2>Choose Type of Post</h2>
	<%= f.collection_select :typeof, Post::TYPEOFS, :to_s, :humanize, {}, {:onchange => 'displayQuestion(this.value)'} %>

	<div id="audioQuestion" style="display:none;"><br/>
    <%= f.input :audiolink, hint: "Input Soundcloud Embed Code. Format: <iframe>....</iframe>" %>
 
  </div>

  <div id="videoQuestion" style="display:none;"><br/>
    <%= f.input :videolink, hint: "Input YouTube Share Link. Format: http://youtu.be/1AjULLsdp5E" %>
  </div>

    <div id="pictureQuestion" style="display:block;"><br/>
    <div class="imageform-box">
  <%= f.input :image, label: "Featured Image", hint: "Format Size: 600 pixels wide by 600 pixels tall; Format Type: JPG" %>
</div>
  </div>
  
  <%= f.input :tag_list, label: "Tags", hint: "Place only relevant tags; Max character of 36", input_html: { maxlength: 36 } %>


  <div class="form-info">
    ***All posts are reviewed before posted on community blog.  Can take up to 48 hours for approval but usually only a few hours.

  </div>

	<%= f.button :submit, "Submit", class: "post-button" %>

  <% end %>

<% end %>



<script>
function displayQuestion(answer) {

  if (answer == "audio") { // hide the div that is not selected
  	document.getElementById('audioQuestion').style.display = "block";

    document.getElementById('videoQuestion').style.display = "none";
    document.getElementById('pictureQuestion').style.display = "none";

  } else if (answer == "video") {

  	document.getElementById('videoQuestion').style.display = "block";
    document.getElementById('audioQuestion').style.display = "none";
    document.getElementById('pictureQuestion').style.display = "none";

  } else if (answer == "picture") {
    document.getElementById('pictureQuestion').style.display = "block";
    document.getElementById('videoQuestion').style.display = "none";
    document.getElementById('audioQuestion').style.display = "none";

  }

}

</script>