<section class="main-section">
<% if user_signed_in? %>
  <div class="header-lyric">
    <h1>Community Blog</h1>
    <h2><%= current_user.name %></h2>
    <p>Vote on your favorite lyrics or contribute the lyrics from your favorite artists.  <br /><%= link_to "Submit Lyrics", '/campaigns/2/lyrics/new' %></p>

  </div>  
<% else %>
  <div class="header-lyric">
     <h1>Community Blog</h1>
    <h2><%= link_to "Join To Contribute", new_user_registration_path %></h2>
    <p>Vote on your favorite lyrics or contribute the lyrics from your favorite artists. <br /><%= link_to "Submit Lyrics", '/campaigns/2' %></p>
  </div>  
<% end %>

    <div class="tagcloud">
         <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tagged_url(tag.name), :class => css_class %>
        <% end %>
    </div>

<section class="post-section">

  <div id="posts" class="transitions-enabled">
    <% @posts.each do |post| %>
    <div class="container-post-index">

        
        <%= link_to post.title, post_path(post) %>

        <% unless post.videolink.nil? || post.videolink.empty? %>
			<% if post.typeof == 'video' %>
				<div class="video-box">
				<p><%= raw(youtube_embed(post.videolink)) %></p>
				</div>
			<% end %>
		<% end %>

		<% unless post.audiolink.nil? || post.audiolink.empty? %>
			<% if post.typeof == 'audio' %>
				<p><%= raw(post.audiolink) %></p>
				<% end %>
		<% end %>

		<% unless post.image.nil? || post.image.blank? %>
			<% if post.typeof == 'picture' %>
				<%= image_tag post.image.url(:medium) %>
				<% end %>
		<% end %>
        <ul>
        <li><%= post.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        <li><%= post.get_upvotes.size %> 
          <%= link_to like_post_path(post), method: :get do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
          </li>
        <li><%= post.commentposts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><%= image_tag post.user.avatar.url(:mini) %><%= link_to post.user.username, profile_url(:id => post.user.username) %></li>
        </ul>
        <br />
        <ul class="tag-list">
        <li><% post.tags.any? %>
          <% post.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>
  </div>

  

 <br>
    <div class="paginate-box">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>

   

        
    <br>
    <div class="lyric-footer">
      <%= link_to 'New Post', new_post_path %>
    </div>
</section>
</section>


<%= image_tag 'lyric-background3.png', :class => "background-lyric" %>



	<%= link_to "Add new post", new_post_path %>