
<%= image_tag @post.image.url(:large) %>
<h1><%= @post.title %></h1>
<p><%= @post.link %></p>
<p><%= @post.description %></p>
<p><%= @post.typeof %></p>
<p><%= @post.approve %></p>

<% unless @post.videolink.nil? || @post.videolink.empty? %>
	<% if @post.typeof == 'video' %>
		<p><%= raw(youtube_embed(@post.videolink)) %></p>
	<% end %>
<% end %>

<% unless @post.audiolink.nil? || @post.audiolink.empty? %>
	<% if @post.typeof == 'audio' %>
		<p><%= raw(@post.audiolink) %></p>
		<% end %>
<% end %>

<% unless @post.image.nil? || @post.image.blank? %>
	<% if @post.typeof == 'picture' %>
		<%= image_tag @post.image.url(:medium) %>
		<% end %>
<% end %>

<span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= link_to 'Like?', like_post_path(@post), method: :get %> <%= @post.get_upvotes.size %>  Likes </br>

	<%= link_to 'Dislike?', dislike_post_path(@post), method: :get %>  <%= @post.get_downvotes.size %>  Dislikes

	<div class="container-comment">
	<h2 class="comment_count">
		<%= pluralize(@post.commentposts.count, "Response") %></h2>
		<hr />
		<% @commentposts.each do |commentpost| %>
			<div class="comment">
				<%= image_tag commentpost.user.avatar.url(:mini) %>
				<p class="username"> <%= commentpost.user.username %></p></br>
				<p class="content"> <%= commentpost.content %></p>
				<p class="time-created"><%= time_ago_in_words(commentpost.created_at) %></p>
				<hr />
			</div>
		<% end %>
	<%= render 'commentposts/form' %>
</div>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Post page", posts_path %>