<section class="post-section">
    <div class="stepbackward">
    			<%= link_to post_path(@previous_post) do %>
    				<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    			<% end %>
    		</div>
    		<div class="stepforward">
    			<%= link_to post_path(@next_post) do %>
    				<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
    			<% end %>
    			</div>
    <div class="container-show">
    	
    	<div class="container-post">

        <% if @post.title.present? %>
    		<h1><%= @post.title %></h1>
        <% end %>
    	
    		<% unless @post.videolink.nil? || @post.videolink.empty? %>
    			<% if @post.typeof == 'video' %>
    				<p><%= raw(youtube_embed(@post.videolink)) %></p>
    			<% end %>
    		<% end %>

    		<% unless @post.audiolink.nil? || @post.audiolink.empty? %>
    			<% if @post.typeof == 'audio' %>
    				<p><%= raw(@post.audiolink) %></p>
    				<% end %>
    		<% end %>

    		<% unless @post.image.nil? || @post.image.blank? %>
    			<% if @post.typeof == 'picture' %>
    				<%= image_tag @post.image.url(:medium) %>
    				<% end %>
    		<% end %>



    	</div>
    	
    <div class="container-post-extra">

    	 <ul>

        <% if user_signed_in? %>
          <li><span class="updown-button"><span class="up <%= @post.id %>"><%= @post.get_upvotes.size %> </span>
          <%= link_to like_post_path(@post), class: ['voteup', @post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
          </span>
        </li>
        <li>
            <span class="updown-button"><span class="down <%= @post.id %>"><%= @post.get_downvotes.size %></span>
          <%= link_to dislike_post_path(@post), class: ['votedown', @post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </span>

          </li>

          <% else %>

          <li><span class="updown-button"><span class="up <%= @post.id %>"><%= @post.get_upvotes.size %> </span>
          <%= link_to_if user_signed_in?, like_post_path(@post), class: ['voteup', @post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
          </span>
        </li>
        <li>
            <span class="updown-button"><span class="down <%= @post.id %>"><%= @post.get_downvotes.size %></span>
          <%= link_to_if user_signed_in?, dislike_post_path(@post), class: ['votedown', @post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </span>
        
          <span type="button" data-toggle="tooltip" data-placement="top" title="Sign In To Vote" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </li>


          <% end %>
          </ul>

          <ul>
            <li><%= @post.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
             

          <li><%= @post.commentposts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
           
            
            </ul>
         
            <% unless @post.tags.nil? || @post.tags.empty? %>
            <ul>
    		<li>
      			<% @post.tags.each do |tag| %>
      				<%= link_to tag.name, tagged_url(:tag => tag.name) %>
      			<% end %>
    			</li>
    		</ul>
    		<% end %>

        <ul>

          <li><strong>Posted By:</strong> <% if @post.user.avatar.present? %>
            <%= image_tag @post.user.avatar.url(:mini) %>
            <% end %> 
            <% if @post.user.username.present? %>
            <%= link_to @post.user.username, profile_url(:id => @post.user.username) %>
            <% end %></li>
          
        </ul>

    		       <div class="artist-info">
    		    <ul>
    			 <% if @post.link.present? %>
    				<li><%= link_to 'More Info', @post.link %></li>
            <% end %>
    			</ul>

            </div>

            <ul>
            	<li>
    			<% if can? :manage, :all %>

    			<span class="adminonly">Approval: <%= @post.approve %></span>
    			<% end %>

    		</li>
            		<li><% if can? :update, @post %>
    		<%= link_to 'Edit', edit_post_path(@post) %> | 
    		<% end %>
    		<% if can? :destroy, @post %>
    		<%= link_to 'Destroy', [@post], method: :delete, data: {confirm: "Are you sure?" } %>
    		<% end %></li>
    		

            </ul>
     
        </div>

       <% unless @post.description.nil? || @post.description.empty? %>
    	<div class="container-post-desc">
    		 
    		<%= simple_format(@post.description) %>
    	</div>
    	<% end %>
    		
    	<div class="container-comment">
    	<h2 class="comment_count">
    		<%= pluralize(@post.commentposts.count, "Response") %></h2>
    		<hr />
    	    <div id="comments">
         <%= render @post.commentposts %>
       </div>

    	<%= render 'commentposts/form' %>
    </div>
    </div>



  <div id="posts">
    <% @random_posts.each do |random_post| %>
    <div class="container-post-index">

       <% unless random_post.videolink.nil? || random_post.videolink.empty? %>
      <% if random_post.typeof == 'video' %>
        <div class="video-box">
        <p><%= raw(youtube_embed(random_post.videolink)) %></p>
        </div>
      <% end %>
    <% end %>

    <% unless random_post.audiolink.nil? || random_post.audiolink.empty? %>
      <% if random_post.typeof == 'audio' %>
        <p><%= raw(random_post.audiolink) %></p>
        <% end %>
    <% end %>

    <% unless random_post.image.nil? || random_post.image.blank? %>
      <% if random_post.typeof == 'picture' %>
        <%= link_to post_path(random_post) do %>
          <%= image_tag random_post.image.url(:medium) %>
        <% end %>
        <% end %>
    <% end %>

    <% if random_post.title.present? %> 
        <div class="post-title"><%= link_to random_post.title, post_path(random_post) %></div>
    <% end %>

        <ul>
          <% if user_signed_in? %>
          <li><span class="updown-button"><span class="up <%= random_post.id %>"><%= random_post.get_upvotes.size %> </span>
          <%= link_to like_post_path(random_post), class: ['voteup', random_post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
          </span>
        </li>
        <li>
            <span class="updown-button"><span class="down <%= random_post.id %>"><%= random_post.get_downvotes.size %></span>
          <%= link_to dislike_post_path(random_post), class: ['votedown', random_post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </span>

          </li>

          <% else %>

          <li><span class="updown-button"><span class="up <%= random_post.id %>"><%= random_post.get_upvotes.size %> </span>
          <%= link_to_if user_signed_in?, like_post_path(random_post), class: ['voteup', random_post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
          </span>
        </li>
        <li>
            <span class="updown-button"><span class="down <%= random_post.id %>"><%= random_post.get_downvotes.size %></span>
          <%= link_to_if user_signed_in?, dislike_post_path(random_post), class: ['votedown', random_post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </span>
        
          <span type="button" data-toggle="tooltip" data-placement="top" title="Sign In To Vote" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </li>


          <% end %>




        <li><%= random_post.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>



              <script>

                $('.voteup' + '.<%= random_post.id %>')
              .on('ajax:success', function (e, data, status, xhr) { 
                $('.up' + '.<%= random_post.id %>').html(data.count);
                $('.down' + '.<%= random_post.id %>').html(data.count2);
              });

                </script>

                  <script>

                $('.votedown' + '.<%= random_post.id %>')
              .on('ajax:success', function (e, data, status, xhr) { 
                
                $('.down' + '.<%= random_post.id %>').html(data.count2);
                $('.up' + '.<%= random_post.id %>').html(data.count);
              });

                </script>

        <li><%= random_post.commentposts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
        <li><% if random_post.user.avatar.present? %>
          <%= image_tag random_post.user.avatar.url(:mini) %>
          <% end %>
          <% if random_post.user.username.present? %><%= link_to random_post.user.username, profile_url(:id => random_post.user.username) %>
          <% end %></li> 

        </ul>
        <br />
        <ul class="tag-list">
        <li><% random_post.tags.any? %>
          <% random_post.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
          <% end %></li>
        </ul>
     
      
      </div>
    <% end %>

    <div class="back-top" title="Top of Page"> <a href="#top" onclick="return false;"><i class="glyphicon glyphicon-chevron-up"></i></a></div> 
  </div>

  <%= render 'layouts/footer' %>

</section>



<section class="home-info">


  <div class="results"></div>
    

</section>



<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });

     // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleThree").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleThreeHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleThreeHiddenTitle').html();
        }
    });

});

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.post-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

  <script>

    $('.voteup' + '.<%= @post.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up' + '.<%= @post.id %>').html(data.count);
    $('.down' + '.<%= @post.id %>').html(data.count2);
  });

    </script>

      <script>

    $('.votedown' + '.<%= @post.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down' + '.<%= @post.id %>').html(data.count2);
    $('.up' + '.<%= @post.id %>').html(data.count);
  });

    </script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>