<% if can? :manage, :all %>

<section class="post-section">
    <div class="stepbackward">
    			<%= link_to post_path(@previous_post) do %>
    				<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    			<% end %>
    		</div>
    		<div class="stepforward">
    			<%= link_to post_path(@next_post) do %>
    				<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
    			<% end %>
    			</div>
    <div class="container-show">
    	
    	<div class="container-post">

        <% if @post.title.present? %>
    		<h1><%= @post.title %></h1>
        <% end %>
    	
    		<% unless @post.videolink.nil? || @post.videolink.empty? %>
    			<% if @post.typeof == 'video' %>
    				<p><%= raw(youtube_embed(@post.videolink)) %></p>
    			<% end %>
    		<% end %>

    		<% unless @post.audiolink.nil? || @post.audiolink.empty? %>
    			<% if @post.typeof == 'audio' %>
    				<p><%= raw(@post.audiolink) %></p>
    				<% end %>
    		<% end %>

    		<% unless @post.image.nil? || @post.image.blank? %>
    			<% if @post.typeof == 'picture' %>
    				<%= image_tag @post.image.url(:medium) %>
    				<% end %>
    		<% end %>



    	</div>
    	
    <div class="container-post-extra">
    	 <ul>
            <li><%= @post.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
             
            <li><span class="up <%= @post.id %>"><%= @post.get_upvotes.size %> </span>
          <%= link_to like_post_path(@post), class: ['voteup', @post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
            <span class="down <%= @post.id %>"><%= @post.get_downvotes.size %></span>
          <%= link_to dislike_post_path(@post), class: ['votedown', @post.id], remote: true, data: { type: :json }, method: :get do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </li>
          <li><%= @post.commentposts.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
           
            
            </ul>
         
            <% unless @post.tags.nil? || @post.tags.empty? %>
            <ul>
    		<li>
      			<% @post.tags.each do |tag| %>
      				<%= link_to tag.name, tagged_url(:tag => tag.name) %>
      			<% end %>
    			</li>
    		</ul>
    		<% end %>

        <ul>

          <li><strong>Posted By:</strong> <% if @post.user.avatar.present? %>
            <%= image_tag @post.user.avatar.url(:mini) %>
            <% end %> 
            <% if @post.user.username.present? %>
            <%= link_to @post.user.username, profile_url(:id => @post.user.username) %>
            <% end %></li>
          
        </ul>

    		       <div class="artist-info">
    		    <ul>
    			 <% if @post.link.present? %>
    				<li>| <%= link_to 'More Info', @post.link %></li>
            <% end %>
    			</ul>

            </div>

            <ul>
            	<li>
    			<% if can? :manage, :all %>
    			Approval: <%= @post.approve %> |
    			<% end %>

    		</li>
            		<li><% if can? :update, @post %>
    		<%= link_to 'Edit', edit_post_path(@post) %> | 
    		<% end %>
    		<% if can? :destroy, @post %>
    		<%= link_to 'Destroy', [@post], method: :delete, data: {confirm: "Are you sure?" } %>
    		<% end %></li>
    		

            </ul>
     
        </div>

       <% unless @post.description.nil? || @post.description.empty? %>
    	<div class="container-post-desc">
    		 
    		<%= simple_format(@post.description) %>
    	</div>
    	<% end %>
    		
    	<div class="container-comment">
    	<h2 class="comment_count">
    		<%= pluralize(@post.commentposts.count, "Response") %></h2>
    		<hr />
    	    <div id="comments">
         <%= render @post.commentposts %>
       </div>

    	<%= render 'commentposts/form' %>
    </div>
    </div>

</section>

<section class="home-info">


  <div class="results"></div>
    

</section>

<% end %>


<script>
$(function(){


    // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleTwo").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleTwoHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleTwoHiddenTitle').html();
        }
    });

     // Enabling Popover Example 2 - JS (hidden content and title capturing)
    $(".popoverExampleThree").popover({
        html : true, 
        content: function() {
          return $('.popoverExampleThreeHiddenContent').html();
        },
        title: function() {
          return $('.popoverExampleThreeHiddenTitle').html();
        }
    });

});

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.post-section'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

  <script>

    $('.voteup' + '.<%= @post.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    $('.up' + '.<%= @post.id %>').html(data.count);
    $('.down' + '.<%= @post.id %>').html(data.count2);
  });

    </script>

      <script>

    $('.votedown' + '.<%= @post.id %>')
  .on('ajax:success', function (e, data, status, xhr) { 
    
    $('.down' + '.<%= @post.id %>').html(data.count2);
    $('.up' + '.<%= @post.id %>').html(data.count);
  });

    </script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>