
<section class="campaign-section2">
<section class="campaign-section">
  <div id="campaigns" class="transitions-enabled">
        <div class="free-campaign">
          <div class="campaign-img">
                <% unless @free_campaign.image.nil? %>
                  <%= image_tag @free_campaign.image.url(:medium) %>
                  <% end %>
              </div> 
               <%= link_to 'Add Your Fav Lyrics & Designs', @free_campaign %>

        </div>
  </section>

<section class="campaign-section">
<h1>Current Experiments</h1>
<div id="campaigns2" class="transitions-enabled">
  <% @open_campaigns.each do |open_campaign| %>
    <div class="campaign-md">
       <% unless open_campaign.image.nil? %>
        <div class="campaign-img">
            <%= image_tag open_campaign.image.url(:medium) %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
             <% unless open_campaign.title.nil? || open_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(open_campaign.title), open_campaign %></strong></li>
            <% end %>
            <% unless open_campaign.timer.nil? || open_campaign.timer.empty? %>
            <li><%= open_campaign.timer %> Left</li>
            <% end %>
            <li>Reward: $100 plus royalties</li>
          </ul>

        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="campaign-section">
<h1>Past Experiments</h1>
<div id="campaigns3" class="transitions-enabled">
      <% @closed_campaigns.each do |closed_campaign| %>
    <div class="campaign-md">
      <% unless closed_campaign.image.nil? %>
        <div class="campaign-img">
            <%= image_tag closed_campaign.image.url(:medium) %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
            <% unless closed_campaign.title.nil? || closed_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(closed_campaign.title), closed_campaign %></strong></li>
            <% end %>
            <% unless closed_campaign.timer.nil? || closed_campaign.timer.empty? %>
            <li><%= closed_campaign.timer %> Left</li>
            <% end %>
            <li>Reward: $100 plus royalties</li>
          </ul>

        </div>
      </div>
    <% end %>


  </div>
</section>



</section>

<section class="home-info">


  <div class="results"></div>
    

</section>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.campaign-section2'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>




 