
<section class="campaign-section2">

<section class="campaign-section">
<%= image_tag 'currentexperiments.jpg', :class => "info-image" %>
<div id="campaigns2">
  <% @open_campaigns.each do |open_campaign| %>
    <div class="campaign-md">
       <% unless open_campaign.image.nil? %>
        <div class="campaign-img">
            <%= link_to open_campaign do %>
            <%= image_tag open_campaign.image.url(:large) %>
            <% end %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
             <% unless open_campaign.title.nil? || open_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(open_campaign.title), open_campaign %></strong></li>
            <% end %>
             <% if open_campaign.timer.nil? || open_campaign.timer.empty? %>
                <li>Rhyme Submission: Not Open Yet</li>
              <% else %>
                <% unless open_campaign.timer.nil? || open_campaign.timer.empty? %>
                <li>Rhyme Submission: <span class="timer-line" data-countdown= <%= open_campaign.timer %> ></span></li>
                <% end %>
            <% end %>
              <% if open_campaign.timer2.nil? || open_campaign.timer2.empty? %>
                <li>Design Submission: Not Open Yet</li>
              <% else %>
                <% unless open_campaign.timer2.nil? || open_campaign.timer2.empty? %>
                <li>Design Submission: <span class="timer-line" data-countdown= <%= open_campaign.timer2 %> ></span></li>
                <% end %>
            <% end %>
            
          </ul>

        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="campaign-section">
<%= image_tag 'pastexperiments.jpg', :class => "info-image" %>
<div id="campaigns3" >
      <% @closed_campaigns.each do |closed_campaign| %>
    <div class="campaign-md">
      <% unless closed_campaign.image.nil? %>
        <div class="campaign-img">
            <%= link_to closed_campaign do %>
            <%= image_tag closed_campaign.image.url(:large) %>
            <% end %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
            <% unless closed_campaign.title.nil? || closed_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(closed_campaign.title), closed_campaign %></strong></li>
            <% end %>
          </ul>

        </div>
      </div>
    <% end %>


  </div>
</section>



</section>

<section class="home-info">


  <div class="results"></div>
    

</section>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min';  
      if (event.offset.days < 1) {
          $this.closest('.price-info').addClass('red-status');
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format2;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format2;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.campaign-section2'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>




 