<section class="campaign-section2">

<div class="works-top" id="works-exp2">
  <div class="how-campaign">
  <h2>Welcome To The Lab</h2>
  <p>This is where it goes down. The community chooses their favorite lyrics to inspire designs. The community then chooses their favorite designs to develop tees and products for the shop.</p>

  <p class="para2"><strong>Choose an experiment below to submit a lyric and/or design.</strong></p>
  <%= image_tag 'exp-image.png', :class => "how-image2-mobile" %>

  </div>

  <%= image_tag 'exp-image.png', :class => "how-image2" %>

  <div class="how-box2">

     <%= link_to 'How It Works', pages_how_it_works_path, :class => "" %>

  <%= link_to 'Lab Shop', 'http://shop.rhymesanddesigns.com/', :class => "" %>

  <%= link_to 'Submit Lyric', new_campaign_lyric_path(Campaign.open.last), :class => "" %>

  <%= link_to 'Submit Design', new_campaign_art_path(Campaign.open.first), :class => "" %>


  </div>

    <div class="how-box2-mobile">

    <%= link_to pages_how_it_works_path do %>
      <i class="fa fa-info"></i>
    <% end %>

    <%= link_to 'http://shop.rhymesanddesigns.com/' do %>
       <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    <% end %>

    <%= link_to new_campaign_lyric_path(Campaign.last) do %>
      <i class="fa fa-headphones"></i>
    <% end %>

    <%= link_to new_campaign_art_path(Campaign.open.first) do %>
      <i class="fa fa-paint-brush"></i>
    <% end %>

  </div>

  

  </div>




<% if @free_campaign.present? %>
<section class="campaign-section">
<h1><i class="fa fa-flask"></i> The Exposure Experiment</h1>

<div id="campaigns2">
  
    <div class="campaign-md">
       <% unless @free_campaign.image.nil? %>
        <div class="campaign-img">
            <%= link_to @free_campaign do %>
            <%= image_tag @free_campaign.image.url(:large) %>
            <% end %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
             <% unless @free_campaign.title.nil? || @free_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(@free_campaign.title), @free_campaign %></strong></li>
            <% end %>
          </ul>

          <% if @free_campaign.description.present? %>
            <div class="para-campaign"><%= simple_format(truncate(@free_campaign.description, length: 1000, separator: ' ')) %></div>
            <% end %>          

            <hr>

        </div>

        <div class="home-campaign-info">
          <span class="home-number"><%= @free_campaign.lyrics.count %></span> 
          <p>Lyrics</br>Submitted</p>

            <div class="button-home">
             <%= link_to 'Submit Lyric', new_campaign_lyric_path(@free_campaign, @lyric), :class => "home-button" %>
             <%= link_to 'Vote on Lyrics', "/campaigns/2/lyrics", :class => "home-button" %>

            </div>

        </div> 



      </div>
  
  </div>
</section>
<% end %>






<% if @open_campaigns.any? %>
<section class="campaign-section">
<h1><i class="fa fa-flask"></i> Current Experiments</h1>
<div id="campaigns2">
  <% @open_campaigns.each do |open_campaign| %>
    <div class="campaign-md">
       <% unless open_campaign.image.nil? %>
        <div class="campaign-img">
            <%= link_to open_campaign do %>
            <%= image_tag open_campaign.image.url(:large) %>
            <% end %>
        </div> 
        <% end %>

       
      <div class="campaign-info">
          <ul>
             <% unless open_campaign.title.nil? || open_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(open_campaign.title), open_campaign %></strong></li>
            <% end %>
          </ul>

          <% if open_campaign.description.present? %>
            <div class="para-campaign"><%= simple_format(truncate(open_campaign.description, length: 200, separator: ' ')) %></div>
            <% end %>          

            <hr>

        </div>

        <div class="home-campaign-info2">
            <h1>Rhyme Submissions</h1>

        </div>

    <% if open_campaign.timer.nil? || open_campaign.timer.empty? %>

        <div class="home-campaign-info">
      
          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Not</br>Open</p> 

          <hr>

        </div>

    <% elsif open_campaign.timer < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

        <div class="home-campaign-info">
          <span class="home-number"><%= open_campaign.lyrics.count %></span> 
          <p>Lyrics</br>Submitted</p>

          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Closed</p>  

            <div class="button-home">
             <%= link_to 'Vote on Lyrics', "/campaigns/2/lyrics", :class => "home-button" %>

            </div>

          <hr>        

        </div>

    <% else %>

        <div class="home-campaign-info">
          <span class="home-number"><%= open_campaign.lyrics.count %></span> 
          <p>Lyrics</br>Submitted</p>

          <span class="home-number"><span class="timer-line" data-countdown= <%= open_campaign.timer %> ></span></span> 
          <p>Days</br>Left</p>

            <div class="button-home">
             <%= link_to 'Submit Lyric', new_campaign_lyric_path(open_campaign, @lyric), :class => "home-button" %>
             <%= link_to 'Vote on Lyrics', "/campaigns/2/lyrics", :class => "home-button" %>

            </div>

            <hr>

        </div>    


    <% end %>



        <div class="home-campaign-info2">
            <h1>Design Submissions</h1>

        </div>

   <% if open_campaign.timer2.nil? || open_campaign.timer2.empty? %>

        <div class="home-campaign-info">
      
          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Not</br>Open</p> 

        </div>

    <% elsif open_campaign.timer2 < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

        <div class="home-campaign-info">
          <span class="home-number"><%= open_campaign.arts.count %></span> 
          <p>Designs</br>Submitted</p>

          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Closed</p>          

            <div class="button-home">
             <%= link_to 'Vote on Designs', "/campaigns/2/arts", :class => "home-button" %>

            </div> 

        </div>

    <% else %>

        <div class="home-campaign-info">
          <span class="home-number"><%= open_campaign.arts.count %></span> 
          <p>Designs</br>Submitted</p>

          <span class="home-number"><span class="timer-line" data-countdown= <%= open_campaign.timer2 %> ></span></span> 
          <p>Days</br>Left</p>

            <div class="button-home">
             <%= link_to 'Submit Design', new_campaign_art_path(open_campaign, @art), :class => "home-button" %>
             <%= link_to 'Vote on Designs', "/campaigns/2/arts", :class => "home-button" %>

            </div>            

        </div>  

      


    <% end %>   


      </div>

    <% end %>
  </div>
</section>
<% end %>


<% if can? :manage, :all %>
<% if @draft_campaigns.any? %>
<section class="campaign-section">
<h1><i class="fa fa-flask"></i> Draft Experiments</h1>
<div id="campaigns2">
  <% @draft_campaigns.each do |draft_campaign| %>
    <div class="campaign-md">
       <% unless draft_campaign.image.nil? %>
        <div class="campaign-img">
            <%= link_to draft_campaign do %>
              <%= image_tag draft_campaign.image.url(:large) %>
            <% end %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
             <% unless draft_campaign.title.nil? || draft_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(draft_campaign.title), draft_campaign %></strong></li>
            <% end %>
          </ul>

          <% if draft_campaign.description.present? %>
            <div class="para-campaign"><%= simple_format(truncate(draft_campaign.description, length: 200, separator: ' ')) %></div>
            <% end %>          

            <hr>

        </div>

        <div class="home-campaign-info2">
            <h1>Rhyme Submissions</h1>

        </div>

  <% if draft_campaign.timer.nil? || draft_campaign.timer.empty? %>

        <div class="home-campaign-info">
      
          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Not</br>Open</p> 

          <hr>

        </div>

    <% elsif draft_campaign.timer < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

        <div class="home-campaign-info">
          <span class="home-number"><%= draft_campaign.lyrics.count %></span> 
          <p>Lyrics</br>Submitted</p>

          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Closed</p>  

            <div class="button-home">
             <%= link_to 'Vote on Lyrics', "/campaigns/2/lyrics", :class => "home-button" %>

            </div>

          <hr>        

        </div>

    <% else %>

        <div class="home-campaign-info">
          <span class="home-number"><%= draft_campaign.lyrics.count %></span> 
          <p>Lyrics</br>Submitted</p>

          <span class="home-number"><span class="timer-line" data-countdown= <%= draft_campaign.timer %> ></span></span> 
          <p>Days</br>Left</p>

            <div class="button-home">
             <%= link_to 'Submit Lyric', new_campaign_lyric_path(draft_campaign, @lyric), :class => "home-button" %>
             <%= link_to 'Vote on Lyrics', "/campaigns/2/lyrics", :class => "home-button" %>

            </div>

            <hr>

        </div>    


    <% end %>



        <div class="home-campaign-info2">
            <h1>Design Submissions</h1>

        </div>

    <% if draft_campaign.timer2.nil? || draft_campaign.timer2.empty? %>

        <div class="home-campaign-info">
      
          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Not</br>Open</p> 

        </div>

    <% elsif draft_campaign.timer2 < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

        <div class="home-campaign-info">
          <span class="home-number"><%= draft_campaign.arts.count %></span> 
          <p>Designs</br>Submitted</p>

          <span class="home-number"><i class="fa fa-lock"></i></span>
          <p>Closed</p>          

            <div class="button-home">
             <%= link_to 'Vote on Designs', "/campaigns/2/arts", :class => "home-button" %>

            </div> 

        </div>

    <% else %>

        <div class="home-campaign-info">
          <span class="home-number"><%= draft_campaign.arts.count %></span> 
          <p>Designs</br>Submitted</p>

          <span class="home-number"><span class="timer-line" data-countdown= <%= draft_campaign.timer2 %> ></span></span> 
          <p>Days</br>Left</p>

            <div class="button-home">
             <%= link_to 'Submit Design', new_campaign_art_path(draft_campaign, @art), :class => "home-button" %>
             <%= link_to 'Vote on Designs', "/campaigns/2/arts", :class => "home-button" %>

            </div>            

        </div> 
        <% end %>         

      </div>

    <% end %>
  </div>
</section>
<% end %>
<% end %>



<% if @closed_campaigns.any? %>
<section class="campaign-section">
<h1><i class="fa fa-flask"></i>Past Experiments</h1>
<div id="campaigns3" >
      <% @closed_campaigns.each do |closed_campaign| %>
    <div class="campaign-md">
      <% unless closed_campaign.image.nil? %>
        <div class="campaign-img">
            <%= link_to closed_campaign do %>
            <%= image_tag closed_campaign.image.url(:large) %>
            <% end %>
        </div> 
        <% end %>

        <div class="campaign-info">
          <ul>
            <% unless closed_campaign.title.nil? || closed_campaign.title.empty? %>
            <li><strong><%= link_to simple_format(closed_campaign.title), closed_campaign %></strong></li>
            <% end %>
          </ul>

        </div>
      </div>
    <% end %>


  </div>
</section>
<% end %>

<%= render 'layouts/footer' %>

</section>


<section class="home-info">


  <div class="results"></div>
    

</section>



<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>


  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-D';
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>

  <script>
   $(function(){
      $(".player").YTPlayer();
    });
</script>



<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.campaign-section2'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>




 