<div class="header-campaign">
  <h1>R&D Experiments</h1>
  Let's build something crazy, something flammable.  Become part of our passionate community where we turn our favorite artists' lyrics into designs and tees.  Learn more here.

  <h3>Add Your Favorite Lyric</h3>

  <h3>Submit Your Designs</h3>

</div>  



<section class="campaign-section">
  <div id="campaigns" class="transitions-enabled">
        <div class="free-campaign">
          <div class="campaign-img">
                  <%= image_tag @free_campaign.image.url(:medium) %>
              </div> 

              <div class="campaign-info">
                <ul>
                  <li><strong><%= link_to simple_format(@free_campaign.title), @free_campaign %></strong></li>
                  <li><%= @free_campaign.timer %> Left</li>
                  <li>Reward: $100 plus royalties</li>
                </ul>
              </div>
        </div>
  </section>

<section class="campaign-section">
<h1>Current Experiments</h1>
<div id="campaigns2" class="transitions-enabled">
  <% @open_campaigns.each do |open_campaign| %>
    <div class="campaign-md">
        <div class="campaign-img">
            <%= image_tag open_campaign.image.url(:medium) %>
        </div> 

        <div class="campaign-info">
          <ul>
            <li><strong><%= link_to simple_format(open_campaign.title), open_campaign %></strong></li>
            <li><%= open_campaign.timer %> Left</li>
            <li>Reward: $100 plus royalties</li>
          </ul>

        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="campaign-section">
<h1>Past Experiments</h1>
<div id="campaigns3" class="transitions-enabled">
      <% @closed_campaigns.each do |closed_campaign| %>
    <div class="campaign-md">
        <div class="campaign-img">
            <%= image_tag closed_campaign.image.url(:medium) %>
        </div> 

        <div class="campaign-info">
          <ul>
            <li><strong><%= link_to simple_format(closed_campaign.title), closed_campaign %></strong></li>
            <li><%= closed_campaign.timer %> Left</li>
            <li>Reward: $100 plus royalties</li>
          </ul>

        </div>
      </div>
    <% end %>


  </div>
</section>

 