
<section class="campaign-section2">

<% unless @campaign.image.nil? %>
<div class="campaign-header">

    <%= image_tag @campaign.image.url(:large) %>
</div>  
<% end %>

  <div id="campaigns2">
    <div class="campaign-show">
   
    	 <div class="campaignshow-info">

        <div class="campaign-add">

       

          <div class="campaign-halfbox">

                <% unless @campaign.title.nil? || @campaign.title.empty? %>
                    <h1><strong><%= @campaign.title %></strong></h1>
                <% end %>

          <div class="campaign-status">
              Experiment: <span style="text-transform: uppercase;"><%= @campaign.status %></span>
          </div>

        <div class="panel-group dashlist" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <% if @campaign.timer.nil? || @campaign.timer.empty? %>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Rhyme Submissions
              </a>
              <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-lock"></i> </span> 
            </span>
            <% elsif @campaign.timer < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Rhyme Submissions
              </a>
              <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-lock"></i> </span> 
            </span>


            <% else %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Rhyme Submissions
              </a>
              <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-unlock"></i> </span> 
            </span>

            <% end %>
            </h4>
          </div>
          <% if @campaign.timer.nil? || @campaign.timer.empty? %>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

          <% elsif @campaign.timer < Time.now.in_time_zone("Eastern Time (US & Canada)") %>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

          <% else %>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <% end %>


          <div class="panel-body">

                <% if @campaign.timer.nil? || @campaign.timer.empty? %>

                  <div class="timer-info">Lyric submissions not open yet</div>
                 <% elsif @campaign.timer < Time.now.in_time_zone("Eastern Time (US & Canada)") %>
                  <div class="timer-info">Lyric submissions closed</div>

                 <% else %>

                 <% if user_signed_in? && current_user.lyrics.where(campaign_id: @campaign.id).count >= 3 %>

                 <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= <%= @campaign.timer %> ></span>
                  </div>

                  

                  <div class="submitbutton">Max Submits</div>

                 <% elsif user_signed_in? %>
                  <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= <%= @campaign.timer %> ></span>
                  </div>

                  <%= link_to 'Submit Lyrics', new_campaign_lyric_path(@campaign, @lyric), class: "submitbutton" %>

                  <% else %>
                    <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= <%= @campaign.timer %> ></span>
                  </div>

                  <%= link_to "Sign In To Submit", new_user_registration_path, class: "submitbutton" %>

                  <% end %>
                <% end %>
               
          </div>

          <% if @campaign.timer.nil? || @campaign.timer.empty? %>

          <ul class="list-group">
            <li class="list-group-item">
              <span class="left-circle"><i class="fa fa-lock"></i></span>Submit Lyric Soon<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>10</span>
            </span>

            </li>

          <li class="list-group-item">
              <span class="left-circle"><i class="fa fa-lock"></i></span>Vote for Lyrics Soon<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>1</span>
            </span>

            </li>


          </ul>

          <% elsif @campaign.timer < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

           <ul class="list-group">
            <li class="list-group-item">
            <% if user_signed_in? && current_user.lyrics.where(campaign_id: @campaign.id).count >= 3 %>

              <span class="left-circle"><i class="fa fa-lock"></i></span><%= current_user.lyrics.where(campaign_id: @campaign.id).count %> / 3 Lyrics Added <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.lyrics.where(campaign_id: @campaign.id).count * 10 %></span>
              </span>

            <% elsif user_signed_in? && current_user.lyrics.where(campaign_id: @campaign.id).any? %>
              <span class="left-circle"><i class="fa fa-lock"></i></span><%= current_user.lyrics.where(campaign_id: @campaign.id).count %> / 3 Lyrics Added <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.lyrics.where(campaign_id: @campaign.id).count * 10 %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-lock"></i></span>No lyrics submitted<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>0</span>
            </span>
            <% end %>

            </li>

          <li class="list-group-item">
             <% if user_signed_in? && ((current_user.get_voted Lyric.where(campaign_id: @campaign.id)).count > 0) %>
              <span class="left-circle"><i class="fa fa-lock"></i></span><%= (current_user.get_voted Lyric.where(campaign_id: @campaign.id)).count %> Lyrics Voted For <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= (current_user.get_voted Lyric.where(campaign_id: @campaign.id)).count %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-lock"></i></span>No lyrics voted for<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>0</span>
            </span>
            <% end %>

            </li>


          </ul>

          <% else %>
            <ul class="list-group">
            <li class="list-group-item">

            <% if user_signed_in? && current_user.lyrics.where(campaign_id: @campaign.id).count >= 3 %>
              <span class="left-circle"><i class="fa fa-check-circle-o"></i></span><%= current_user.lyrics.where(campaign_id: @campaign.id).count %> / 3 Lyrics Added <span type="button" data-toggle="tooltip" data-placement="top" title="Max Submissions Reached" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.lyrics.where(campaign_id: @campaign.id).count * 10 %></span>
            </span>

              <% elsif user_signed_in? && current_user.lyrics.where(campaign_id: @campaign.id).any? %>
              <span class="left-circle"><i class="fa fa-check-circle-o"></i></span><%= current_user.lyrics.where(campaign_id: @campaign.id).count %> / 3 Lyrics Added <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.lyrics.where(campaign_id: @campaign.id).count * 10 %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-circle-o"></i></span><%= link_to 'Submit 1st Lyric', new_campaign_lyric_path(@campaign, @lyric) %><span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>10</span>
            </span>
            <% end %>

            </li>

          <li class="list-group-item">
             <% if user_signed_in? && ((current_user.get_voted Lyric.where(campaign_id: @campaign.id)).count > 0) %>
              <span class="left-circle"><i class="fa fa-check-circle-o"></i></span><%= (current_user.get_voted Lyric.where(campaign_id: @campaign.id)).count %> Lyrics Voted For<span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= (current_user.get_voted Lyric.where(campaign_id: @campaign.id)).count %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-circle-o"></i></span>Vote for Lyrics <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>1</span>
            </span>
            <% end %>

            </li>


          </ul>


          <% end %>

            
          </div>
        </div>

    

      <% if @chosen_lyrics.any? %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">

            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <% if @chosen_lyrics.count > 1 %>
                    Chosen Lyrics
                    <% else %>
                    Chosen Lyric
                    <% end %>
              </a>
     
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
               
          </div>

          <ul class="list-group">
              
              <% @chosen_lyrics.each do |chosen_lyric| %>

              <li class="list-group-item">
                  <div class="campaign-chosen-lyric-each">
                          <% unless chosen_lyric.line.nil? || chosen_lyric.line.empty? %>
                          <i class="fa fa-quote-left"></i>

                 
                          <%= link_to chosen_lyric.line, campaign_lyric_path(@campaign, chosen_lyric), class: 'chosen_lyric' %><i class="fa fa-quote-right"></i>

                          <% end %>
                        <ul>
                    <li>Submitted By:<% unless chosen_lyric.user.avatar.nil? %><%= image_tag chosen_lyric.user.avatar.url(:mini) %><% end %><% unless chosen_lyric.user.username.nil? || chosen_lyric.user.username.empty? %><%= link_to chosen_lyric.user.username, profile_url(:id => chosen_lyric.user.username) %><% end %></li>
                </ul>
                </div>
              </li>
              <% end %>
              

          </ul>
            
          </div>
        </div>
        <% end %>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <% if @campaign.timer2.nil? || @campaign.timer2.empty? %>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Design Submissions
              </a>
              <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-lock"></i> </span> 
            </span>
            <% elsif @campaign.timer2 < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Design Submissions
              </a>
              <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-lock"></i> </span> 
            </span>


            <% else %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Design Submissions
              </a>
              <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-unlock"></i> </span> 
            </span>

            <% end %>
            </h4>
          </div>
          <% if @campaign.timer2.nil? || @campaign.timer2.empty? %>

          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

          <% elsif @campaign.timer2 < Time.now.in_time_zone("Eastern Time (US & Canada)") %>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

          <% else %>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <% end %>
          <div class="panel-body">

                <% if @campaign.timer2.nil? || @campaign.timer2.empty? %>

                  <div class="timer-info">Design submissions not open yet</div>
                 <% elsif @campaign.timer2 < Time.now.in_time_zone("Eastern Time (US & Canada)") %>
                  <div class="timer-info">Design submissions closed</div>

                 <% else %>

                 <% if user_signed_in? && current_user.arts.where(campaign_id: @campaign.id).count >= 5 %>

                 <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= <%= @campaign.timer2 %> ></span>
                  </div>

                  

                  <div class="submitbutton">Max Submits</div>

                 <% elsif user_signed_in? %>
                  <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= <%= @campaign.timer2 %> ></span>
                  </div>

                  <%= link_to 'Submit Design', new_campaign_art_path(@campaign, @art), class: "submitbutton" %>

                  <% else %>
                    <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="timer-line" data-countdown= <%= @campaign.timer2 %> ></span>
                  </div>

                  <%= link_to "Sign In To Submit", new_user_registration_path, class: "submitbutton" %>

                  <% end %>
                <% end %>
               
          </div>

          <% if @campaign.timer2.nil? || @campaign.timer2.empty? %>

          <ul class="list-group">
            <li class="list-group-item">
              <span class="left-circle"><i class="fa fa-lock"></i></span>Submit Designs Soon<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>100</span>
            </span>

            </li>

          <li class="list-group-item">
              <span class="left-circle"><i class="fa fa-lock"></i></span>Vote for Designs Soon<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>2</span>
            </span>

            </li>


          </ul>

          <% elsif @campaign.timer2 < Time.now.in_time_zone("Eastern Time (US & Canada)") %>

           <ul class="list-group">
            <li class="list-group-item">
            <% if user_signed_in? && current_user.arts.where(campaign_id: @campaign.id).count >= 5 %>

              <span class="left-circle"><i class="fa fa-lock"></i></span><%= current_user.arts.where(campaign_id: @campaign.id).count %> Designs Submitted <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.arts.where(campaign_id: @campaign.id).count * 100 %></span>
              </span>

            <% elsif user_signed_in? && current_user.arts.where(campaign_id: @campaign.id).any? %>
              <span class="left-circle"><i class="fa fa-lock"></i></span><%= current_user.arts.where(campaign_id: @campaign.id).count %> Designs Submitted <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.lyrics.where(campaign_id: @campaign.id).count * 100 %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-lock"></i></span>No designs submitted<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>0</span>
            </span>
            <% end %>

            </li>

          <li class="list-group-item">
             <% if user_signed_in? && ((current_user.get_voted Art.where(campaign_id: @campaign.id)).count > 0) %>
              <span class="left-circle"><i class="fa fa-lock"></i></span><%= (current_user.get_voted Art.where(campaign_id: @campaign.id)).count %> Designs Voted For <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= (current_user.get_voted Art.where(campaign_id: @campaign.id)).count * 2 %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-lock"></i></span>No designs voted for<span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>0</span>
            </span>
            <% end %>

            </li>


          </ul>

          <% else %>
            <ul class="list-group">
            <li class="list-group-item">

            <% if user_signed_in? && current_user.arts.where(campaign_id: @campaign.id).count >= 5 %>
              <span class="left-circle"><i class="fa fa-check-circle-o"></i></span><%= current_user.arts.where(campaign_id: @campaign.id).count %> Designs Added <span type="button" data-toggle="tooltip" data-placement="top" title="Max Submissions of 5 Reached" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.arts.where(campaign_id: @campaign.id).count * 100 %></span>
            </span>

              <% elsif user_signed_in? && current_user.arts.where(campaign_id: @campaign.id).any? %>
              <span class="left-circle"><i class="fa fa-check-circle-o"></i></span><%= current_user.arts.where(campaign_id: @campaign.id).count %> Designs Added <span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= current_user.arts.where(campaign_id: @campaign.id).count * 100 %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-circle-o"></i></span><%= link_to 'Submit 1st Design', new_campaign_art_path(@campaign, @art) %><span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>100</span>
            </span>
            <% end %>

            </li>

          <li class="list-group-item">
             <% if user_signed_in? && ((current_user.get_voted Art.where(campaign_id: @campaign.id)).count > 0) %>
              <span class="left-circle"><i class="fa fa-check-circle-o"></i></span><%= (current_user.get_voted Art.where(campaign_id: @campaign.id)).count %> Designs Voted For<span class="right-circle">
              <span class="points-lab2-done"><i class="fa fa-flask"></i><%= (current_user.get_voted Art.where(campaign_id: @campaign.id)).count %></span>
            </span>

              <% else %>
              <span class="left-circle"><i class="fa fa-circle-o"></i></span>Vote for Designs <span class="right-circle">
              <span class="points-lab2"><i class="fa fa-flask"></i>2</span>
            </span>
            <% end %>

            </li>


          </ul>


          <% end %>

            
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">

            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Rewards / Rules
              </a>
     
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
               
          </div>

          <ul class="list-group">
            <li class="list-group-item">
              
              <h3>Rewards:</h3>

                <%= simple_format(@campaign.reward) %>

            </li>

          <li class="list-group-item">

            <h3>Rules:</h3>

                <%= simple_format(@campaign.rules) %>

            </li>


          </ul>
            
          </div>
        </div>




        <% if @chosen_arts.any? %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">

            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <% if @chosen_arts.count > 1 %>
                    Chosen Designs
                    <% else %>
                    Chosen Design
                    <% end %>
              </a>
     
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
               
          </div>

          <ul class="list-group">

                        <% @chosen_arts.each do |chosen_art| %>
                        <li class="list-group-item">
                          <div class="campaign-chosen-art-each">
                            <%= link_to campaign_art_path(@campaign, chosen_art) do %>

                            <% unless chosen_art.image.nil? %>
                            <%= image_tag chosen_art.image.url(:medium) %>
                            <% end %>
                          <% end %>

                          <ul>
                            <li>Designed By:<% unless chosen_art.user.avatar.nil? %><%= image_tag chosen_art.user.avatar.url(:mini) %><% end %><% unless chosen_art.user.username.nil? || chosen_art.user.username.empty? %><%= link_to chosen_art.user.username, profile_url(:id => chosen_art.user.username) %><% end %></li>
                        </ul>
                          </div>
                        </li>
                        <% end %>
              
          </ul>
            
          </div>
        </div>
        <% end %>






      </div>

      </div>


               <div class="admin-footer">
                  <% if can? :update, @campaign %>
                <%= link_to 'Edit', edit_campaign_path(@campaign) %> | 
                <% end %>
                <% if can? :destroy, @campaign %>
                <%= link_to 'Destroy', campaign_path(@campaign), method: :delete, data: {confirm: "Are you sure?" } %>   
                <% end %>
              </div>

              <% if @campaign.credit.present? %>
                <div class ="credit-header">
                  Header Artwork by: <%= link_to @campaign.credit, @campaign.creditlink %>
                </div>
              <% end %>

      <div class="next-prev">

        Experiments: <% if @campaign == Campaign.first %> <span style="color: #000;">Prev</span> <% else %><%= link_to 'Prev', campaign_path(@previous_campaign) %> <% end %><strong>/</strong> <% if @campaign == Campaign.last %> <span style="color: #000;">Next</span> <% else %> <%= link_to 'Next', campaign_path(@next_campaign) %><% end %>


      </div>

      </div>


         <% unless @campaign.title.nil? || @campaign.title.empty? %>
        <h1><strong><%= @campaign.title %></strong></h1>
        <% end %>
        <% unless @campaign.description.nil? || @campaign.description.empty? %>
        <div class="campaignshow-desc">
          <%= simple_format(@campaign.description) %>
        </div>
        <% end %>


  </div>
       

  </div>

    <div class="tab-box" role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lyrics</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Designs</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">


              <div class="campaign-lyric">
                <% if @lyrics.any? %>
                <% @lyrics.each do |lyric| %>
                  <div class="campaign-lyric-each">
                    <% unless lyric.line.nil? || lyric.line.empty? %>
                    <%= link_to lyric.line, campaign_lyric_path(@campaign, lyric) %>
                    <% end %>
                    
                    <ul>
                      <% if user_signed_in? %>
                      <li><span class="updown-button"><span class="up <%= lyric.id %>"><%= lyric.get_upvotes.size %> </span>
                      <%= link_to like_lyric_path(lyric), class: ['voteup', lyric.id], remote: true, data: { type: :json }, method: :get do %>
                      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        <% end %>
                      </span>
                    </li>
                    <li>
                        <span class="updown-button"><span class="down <%= lyric.id %>"><%= lyric.get_downvotes.size %></span>
                      <%= link_to dislike_lyric_path(lyric), class: ['votedown', lyric.id], remote: true, data: { type: :json }, method: :get do %>
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        <% end %>
                      </span>

                      </li>

                      <% else %>

                      <li><span class="updown-button"><span class="up <%= lyric.id %>"><%= lyric.get_upvotes.size %> </span>
                      <%= link_to_if user_signed_in?, like_lyric_path(lyric), class: ['voteup', lyric.id], remote: true, data: { type: :json }, method: :get do %>
                      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        <% end %>
                      </span>
                    </li>
                    <li>
                        <span class="updown-button"><span class="down <%= lyric.id %>"><%= lyric.get_downvotes.size %></span>
                      <%= link_to_if user_signed_in?, dislike_lyric_path(lyric), class: ['votedown', lyric.id], remote: true, data: { type: :json }, method: :get do %>
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        <% end %>
                      </span>
                    
                      <span type="button" data-toggle="tooltip" data-placement="top" title="Sign In To Vote" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                      </li>


                      <% end %>

                      <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>


              <script>

                $('.voteup' + '.<%= lyric.id %>')
              .on('ajax:success', function (e, data, status, xhr) { 
                $('.up' + '.<%= lyric.id %>').html(data.count);
                $('.down' + '.<%= lyric.id %>').html(data.count2);
              });

                </script>

                  <script>

                $('.votedown' + '.<%= lyric.id %>')
              .on('ajax:success', function (e, data, status, xhr) { 
                
                $('.down' + '.<%= lyric.id %>').html(data.count2);
                $('.up' + '.<%= lyric.id %>').html(data.count);
              });

                </script>

                  
                    <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
                    <li><% if lyric.user.avatar.present? %><%= image_tag lyric.user.avatar.url(:mini) %><% end %><% if lyric.user.username.present? %><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %><% end%></li>
                   
                    <% if lyric.personal == true %>
                    <li><span data-toggle="tooltip" data-placement="top" title="Submitted By Artist"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></li>
                   <% end %>

                    </ul>
          </div>
          <% end %>


          <% else %>
          <div class="noposts"><h1>No Lyrics Posted Yet.</h1></div>
          <% end %>
      
    </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
          <div class="art-container">
            
              <div id="campaign-art">
              <% if @arts.any? %>
                <% @arts.each do |art| %>
                  <div class="campaign-art-each">
                    <%= link_to campaign_art_path(@campaign, art) do %>

                    <% unless art.image.nil? %>
                    <%= image_tag art.image.url(:small) %>
                    <% end %>
                  <% end %>
                  </div>
                <% end %>

                 <% else %>
                  <div class="noposts"><h1>No Designs Posted Yet.</h1></div>
                  <% end %>

              </div>
            </div>

          </div>

        </div>
      </div>

  </div>

  <%= render 'layouts/footer' %>
</section>

<section class="home-info">


  <div class="results"></div>
    

</section>




  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min';  
      if (event.offset.days < 1) {
          $this.closest('.price-info').addClass('red-status');
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>


<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.campaign-section2'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>