<section class="campaign-section2"
<% unless @campaign.image.nil? %>
<div class="campaign-header">
    <%= image_tag @campaign.image.url(:large) %>
</div>  
<% end %>

  <div id="campaigns2">
    <div class="campaign-show">
   
    	 <div class="campaignshow-info">
         <% unless @campaign.title.nil? || @campaign.title.empty? %>
        <h1><strong><%= @campaign.title %></strong></h1>
        <% end %>
        <% unless @campaign.description.nil? || @campaign.description.empty? %>
        <div class="campaignshow-desc">
          <%= simple_format(@campaign.description) %>
        </div>
        <% end %>
      </br>

        <div class="timer-button">
          <h4>Rhymes</h4>
        <% if @campaign.status == "free" %>
              <%= link_to 'Add Lyrics', new_campaign_lyric_path(@campaign, @lyric), class: "submitbutton" %>
        <% elsif @campaign.timer.nil? || @campaign.timer.empty? %>
            <div class="timer-button2">Not open for submissions yet</div>
        <% else %>
          <% unless @campaign.timer.nil? || @campaign.timer.empty? %>
           <span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="timer-line" data-countdown= <%= @campaign.timer %> ></span><br />
           <% end %>

            <%= link_to 'Add Lyrics', new_campaign_lyric_path(@campaign, @lyric), class: "submitbutton" %>
          
        <% end %>
        </div> 

        <div class="timer-button">
          <h4>Designs</h4>
        <% if @campaign.status == "free" %>
            <%= link_to 'Submit Designs', new_campaign_art_path(@campaign, @art), class: "submitbutton" %>
        <% elsif @campaign.timer2.nil? || @campaign.timer2.empty? %>
            <div class="timer-button2">Not open for submissions yet</div>
        <% else %>
            <% unless @campaign.timer2.nil? || @campaign.timer2.empty? %>
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="timer-line" data-countdown= <%= @campaign.timer2 %> ></span><br />
              <% end %>

             <%= link_to 'Submit Designs', new_campaign_art_path(@campaign, @art), class: "submitbutton" %>
          
        <% end %>
        </div>
       </div>
       
       <div class="admin-footer">
          <% if can? :update, @campaign %>
        <%= link_to 'Edit', edit_campaign_path(@campaign) %> | 
        <% end %>
        <% if can? :destroy, @campaign %>
        <%= link_to 'Destroy', campaign_path(@campaign), method: :delete, data: {confirm: "Are you sure?" } %>   
        <% end %>
      </div>
  </div>

    <div class="tab-box" role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lyrics</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Designs</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
              <div class="campaign-lyric">
                <h2>Lyrics</h2>
                <% @lyrics.each do |lyric| %>
                  <div class="campaign-lyric-each">
                    <% unless lyric.line.nil? || lyric.line.empty? %>
                    <%= link_to lyric.line, campaign_lyric_path(@campaign, lyric) %>
                    <% end %>
                  <ul>
              <li><%= lyric.impressionist_count(:filter=>:session_hash) %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
              <li><%= lyric.get_upvotes.size %> 
                <%= link_to like_lyric_path(lyric), method: :get do %>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  <% end %>
                </li>
              <li><%= lyric.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
              <li><% unless lyric.user.avatar.nil? %><%= image_tag lyric.user.avatar.url(:mini) %><% end %><% unless lyric.user.username.nil? || lyric.user.username.empty? %><%= link_to lyric.user.username, profile_url(:id => lyric.user.username) %><% end %></li>
          </ul>
          </div>
          <% end %>
      
    </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
          <div class="art-container">
              <h2>Submitted Designs</h2>
              <div id="campaign-art" class="transitions-enabled">
                 
                <% @arts.each do |art| %>
                  <div class="campaign-art-each">
                    <%= link_to campaign_art_path(@campaign, art) do %>

                    <% unless art.image.nil? %>
                    <%= image_tag art.image.url(:small) %>
                    <% end %>
                  <% end %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>

        </div>
      </div>


      

    
  </div>
</section>

<section class="home-info">


  <div class="results"></div>
    

</section>


  <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
    
    $this.countdown(finalDate)

    .on('update.countdown', function(event) {
      var format = '%-H hr %-M min %-S sec';
      var format2 = '%-H hr %-M min';  
      if (event.offset.days < 1) {
          $this.closest('.price-info').addClass('red-status');
      }   
      if(event.offset.days > 0) {
        format = '%-d day%!d, ' + format2;
      }
      if(event.offset.weeks > 0) {
        format = '%-w week%!w ' + format2;
      }
    
     $(this).html(event.strftime(format));
   })
   .on('finish.countdown', function(event) {
     $(this).html('Closed for Submissions');
    $this.closest('.timer-button').addClass('disabled').attr('disabled', 'disabled');
      });
    
    });
</script>

<script>

  $('.results').html("<%= j render(:partial => 'homeinfo/index') %>")

</script>

<script>
$(window).scroll(function () {
    var winTop = $(this).scrollTop(),
        winBottom = winTop + $(this).height(),
        left = $('.home-info'),
        leftBottom = left.height(),
        right = $('.campaign-section2'),
        rightBottom = right.height();
    //when the user reached the bottom of '#leftShort' set its position to fixed 
    //to prevent it from moving on scroll 
    if (rightBottom <= leftBottom){


    } else{

          if (winBottom >= leftBottom) {
        left.css({
            'position': 'fixed',
            'bottom': '0px',
            
        });
    } else {
        //when the user scrolls back up revert its position to relative
        // to make it move up together with '#rightLong'
        left.css({
            'position': 'relative',
            'bottom': 'auto'

        });
    }

    }


});

</script>