<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><div class="logo-wrapper"><img class="logo-head" src="http://rhymesanddesigns.com/wp-content/uploads/2014/11/logo-rhymes-designs-white.png" alt="" /></div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown2" class="active">
          <a href="#" >SHOP</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">LAB ARCHIVES</a></li>
            <li class="divider"></li>
            <li><a href="#">SHINE PURCHASE</a></li>
            <li class="divider"></li>
            <li><a href="#">PASSION PURCHASE</a></li>
          </ul>
        </li>
        <li class="dropdown2">
          <a href="#">EXPERIMENT</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Submit Lyrics', "/campaigns/2/lyrics/new" %></li>
            <li><%= link_to 'Submit Designs', "/campaigns/2/arts/new" %></li>
            <li class="divider"></li>
            <li><%= link_to 'RHYME CENTER', "/campaigns/2/lyrics" %></li>
            <li><%= link_to 'DESIGN CENTER', "/campaigns/2/arts" %></li>
          </ul>
        </li>
        <li class="dropdown2">
          <a href="#">REPORTS</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Lookbooks & Pics</a></li>
            <li><a href="#">Events & Recaps</a></li>
            <li><a href="#">Artists & Art</a></li>
            <li><a href="#">R&D TV</a></li>
             <li><a href="#">R&D Gallery</a></li>
            <li class="divider"></li>
            <li><a href="#">Social Links</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          
          <li class="navbar-brand"><%= link_to 'Add Lyric', "/campaigns/2/lyrics/new" %></li>
            <li class="dropdown2"><%= image_tag current_user.avatar.url(:thumb) %>
            <ul class="dropdown-menu" role="menu">
            <li><%= image_tag current_user.avatar.url(:mini) %><%= current_user.username %></li>
            <li>Community Score: <%= current_user.points %></li>
            <li>Community Level: <% current_user.badges.each do |badge| %>
                <%= badge.name %>
                <% end %></li>
            <li class="divider"></li>
            <li><% if current_user.username.present? %>
              <%= link_to "Your Profile", profile_url(:id => current_user.username) %>
                <% end %>
            </li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          </ul>

          </li>
  
        <% else %>
          <li class="navbar-brand">
            <%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
          <li class="navbar-brand">
            <%= link_to "Sign In", new_user_session_path, class: "active" %>
            </li>
        <% end %>
  
        <li id="cart-target" class="toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
            <a href="/cart" class="cart" title="Shopping Cart">
              <span class="icon-cart"></span>
              
            </a>
          </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


