

  <div id="P1" class="player" 
     data-property="{videoURL:'https://youtu.be/WsOZ86F1nn8',containment:'#vid',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1,showControls:false,addRaster:true,optimizeDisplay: true}">
</div>




  <div class="temp-access">
        <div class="temp-access1">
          <h1 class="time-launch">5.1.15</h1>
      <p>Official Launch</p>

        </div>

        <div class="temp-access2">

      <div class="how-box2">
        <%= link_to "Get Early Access", new_user_registration_path, :class => "" %>
        
      </div>

    </div>

        <div class="timer-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                     <span id="clock"></span>
                  </div>
      <div id="launch-links" class="how-box2">
        <%= link_to "Sign Up / Sign In", new_user_registration_path, :class => "" %>
        
          <%= link_to 'How It Works', pages_how_it_works_path, :class => "" %>

        <%= link_to 'Lab Shop', '#', :class => "" %>

        
      </div>
      <hr>

      <div class="temp-access1">
        <h1>Unlock </br>The 1st Experiment!</h1>
        
      </div>
      <div class="temp-access2">
          <div class="lock-box">
            <%= link_to dash_path do %>
              <i class="fa fa-lock"></i>
              <% end %>
          </div>
         
      </div>

      <hr>

      <div class="temp-access1">
        <%= link_to profiles_path do %>
        <h1><i class="fa fa-users"></i>  </h1>
        <% end %>
      </div>
      <div class="temp-access2">
          <h1>Featured Profiles</h1>
      </div>

      <hr>

      <div class="temp-access1">
        <h1>Connect & Follow The Journey</h1>
        
      </div>
      <div class="temp-access2">
          <h1><div class="social-links"><a href="https://instagram.com/rhymesdesigns/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/RhymesDesigns" target="_blank"><i class="fa fa-facebook-square"></i></a></br>
            <a href="https://twitter.com/RhymesDesigns" target="_blank"><i class="fa fa-twitter-square"></i></a>
          <a href="http://blog.rhymesanddesigns.com/" target="_blank"><i class="fa fa-tumblr-square"></i></a>
        </div></h1>
      </div>

      <hr>

      <div class="temp-access1">
        <%= image_tag 'exp-image.png' %>
      </div>
      <div class="temp-access2">
          <h1>How It Works Video</h1>
          <%= link_to pages_how_it_works_path do %>
          <i class="fa fa-youtube-play"></i>
          <% end %>
      </div>

  </div>


<script>
   $(function(){
      $(".player").YTPlayer();
    });
</script>

<script>
  $('#clock').countdown('2015/5/1', function(event) {
   $(this).html(event.strftime('%D days %-H hr %-M min %-S sec'));
 });

</script>
