<!DOCTYPE html>
<html>
<head>
  <title>Rnd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width" />

  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" media="all" rel="stylesheet" type="text/css" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
   <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

   <script src="//use.typekit.net/bhe4qav.js"></script>
<script>try{Typekit.load();}catch(e){}</script>


      <link rel="stylesheet" href="/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/helpers/jquery.fancybox-media.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26164750-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

  <% if current_page?(root_path) || current_page?(new_user_registration_path) %>
    <%= render 'layouts/home_header' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %>



<div class="notice flash-message"> <span style="background-color: #FFFF00"><%= notice %></span> </div>
<div class="alert flash-message"> <span style="background-color: #FF0000"><%= alert %></span> </div> 


<%= yield %>

</body>
</html>


<script>
  $(function() {
     $('.flash-message').delay(500).fadeIn('normal', function() {
        $(this).delay(2500).fadeOut();
     });
  });
  </script>
